<div class="player-lyric-layout">
    <div class="player-panel">
        <div class="player-controls">
            <div class="song controls">
                <label for="videoSelect">歌曲:</label>
                <select id="videoSelect" [(ngModel)]="videoId" (change)="onVideoChange()">
                    <option value="" disabled selected>請選擇歌曲</option>
                    <option *ngFor="let config of lyricConfig | keyvalue" [value]="config.key">{{ config.value.name }}
                    </option>
                </select>
            </div>
            <div class="tolerance controls">
                <label for="toleranceInput">偏移(秒):</label>
                <input id="toleranceInput" type="number" step="0.1" [value]="tolerance"
                    (input)="onToleranceInput($event)" />
            </div>
        </div>
        <div #youtubePlayer id="youtube-player" class="youtube-player"></div>
    </div>

    <div class="lyrics-panel">
        <div class="lyrics">
            <div *ngFor="let lyric of lyrics; let i = index" class="lyric-line" [class.active]="i === currentIndex"
                [class.disabled]="!youtubeReady" (click)="youtubeReady && seekToLyric(lyric)"
                [innerHTML]="lyric.html || lyric.text">
            </div>
        </div>
    </div>
</div>
