.title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  height: 20px;
  font-size: 20px;
  padding: 5px;
}

.background {
  font-family: "Noto Sans JP", sans-serif;
  background: #f2f2f2;
  color: #333;
  padding: 5px;
  line-height: 2;
}

.line {
  display: flex;
  justify-content:space-around;
  max-width: 900px;
  margin: 0 auto 5px;
  background: #fff;
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.jp {
  width: 48%;
}

.zh {
  width: 48%;
  text-align: left;
  color: #555;
}

rt {
  font-size: 0.6em;
  color: #777;
}