<div class="title">
    <p>群青</p>
</div>
<div class="background">
    <div class="line">
        <div class="jp"><ruby>嗚呼<rt>ああ</rt></ruby>、いつものように</div>
        <div class="zh">啊，像平常一樣</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>過<rt>す</rt></ruby>ぎる<ruby>日<rt>ひ</rt></ruby><ruby>々<rt>び</rt></ruby>にあくびが<ruby>出<rt>で</rt></ruby>る</div>
        <div class="zh">在流逝的日子裡打著哈欠</div>
    </div>
    <div class="line">
        <div class="jp">さんざめく<ruby>夜<rt>よる</rt></ruby>を<ruby>越<rt>こ</rt></ruby>え<ruby>今<rt>きょう</rt></ruby>も</div>
        <div class="zh">跨過喧鬧的夜晚，今天也一樣</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>渋<rt>しぶ</rt></ruby><ruby>谷<rt>や</rt></ruby>の<ruby>街<rt>まち</rt></ruby>に<ruby>朝<rt>あさ</rt></ruby>が<ruby>降<rt>ふ</rt></ruby>る</div>
        <div class="zh">清晨降落在澀谷的街道</div>
    </div>
    <div class="line">
        <div class="jp">どこか<ruby>虚<rt>むな</rt></ruby>しいような</div>
        <div class="zh">總有一種空虛的感覺</div>
    </div>
    <div class="line">
        <div class="jp">そんな<ruby>気<rt>き</rt></ruby><ruby>持<rt>も</rt></ruby>ち</div>
        <div class="zh">這樣的心情</div>
    </div>
    <div class="line">
        <div class="jp">つまらないな</div>
        <div class="zh">好無聊啊</div>
    </div>
    <div class="line">
        <div class="jp">でもそれでいい</div>
        <div class="zh">但那也沒關係</div>
    </div>
    <div class="line">
        <div class="jp">そんなもんさ</div>
        <div class="zh">這就是生活嘛</div>
    </div>
    <div class="line">
        <div class="jp">これでいい</div>
        <div class="zh">這樣就好</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>知<rt>し</rt></ruby>らず<ruby>知<rt>し</rt></ruby>らず<ruby>隠<rt>かく</rt></ruby>してた</div>
        <div class="zh">不知不覺把它藏起來了</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>本<rt>ほん</rt></ruby><ruby>当<rt>とう</rt></ruby>の<ruby>声<rt>こえ</rt></ruby>を<ruby>響<rt>ひび</rt></ruby>かせてよほら</div>
        <div class="zh">讓真實的聲音響起來吧，看著</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>見<rt>み</rt></ruby>ないフリしていても</div>
        <div class="zh">即使假裝沒看到</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>確<rt>たし</rt></ruby>かにそこにある</div>
        <div class="zh">它確實就在那裡</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>嗚呼<rt>ああ</rt></ruby>、<ruby>感<rt>かん</rt></ruby>じたままに<ruby>描<rt>えが</rt></ruby>く</div>
        <div class="zh">啊，依照感受去描繪</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>自<rt>じ</rt></ruby><ruby>分<rt>ぶん</rt></ruby>で<ruby>選<rt>えら</rt></ruby>んだその<ruby>色<rt>いろ</rt></ruby>で</div>
        <div class="zh">用自己選擇的那種顏色</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>眠<rt>ねむ</rt></ruby>い<ruby>空<rt>くう</rt></ruby><ruby>気<rt>き</rt></ruby>を<ruby>纏<rt>まと</rt></ruby>う<ruby>朝<rt>あさ</rt></ruby>に</div>
        <div class="zh">在昏睡空氣籠罩的清晨</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>訪<rt>おとず</rt></ruby>れた<ruby>青<rt>あお</rt></ruby>い<ruby>世<rt>せ</rt></ruby><ruby>界<rt>かい</rt></ruby></div>
        <div class="zh">來到那片藍色的世界</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>好<rt>す</rt></ruby>きなものを<ruby>好<rt>す</rt></ruby>きだと言う</div>
        <div class="zh">把喜歡的東西說成喜歡</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>怖<rt>こわ</rt></ruby>くて<ruby>仕<rt>し</rt></ruby><ruby>方<rt>かた</rt></ruby>ないけど</div>
        <div class="zh">雖然很害怕，但也不得不說</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>本<rt>ほん</rt></ruby><ruby>当<rt>とう</rt></ruby>の<ruby>自<rt>じ</rt></ruby><ruby>分<rt>ぶん</rt></ruby></div>
        <div class="zh">真正的自己</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>出<rt>で</rt></ruby><ruby>会<rt>あ</rt></ruby>えた<ruby>気<rt>き</rt></ruby>がしたんだ</div>
        <div class="zh">我感覺自己終於遇見了</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>嗚呼<rt>ああ</rt></ruby>、<ruby>手<rt>て</rt></ruby>を<ruby>伸<rt>の</rt></ruby>ばせば<ruby>伸<rt>の</rt></ruby>ばすほどに</div>
        <div class="zh">啊，越伸出手，越是</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>遠<rt>とお</rt></ruby>くへゆく</div>
        <div class="zh">向遙遠的地方走去</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>思<rt>おも</rt></ruby>うようにいかない<ruby>今<rt>きょう</rt></ruby>も</div>
        <div class="zh">就算今天也一樣事不如意</div>
    </div>
    <div class="line">
        <div class="jp">また<ruby>慌<rt>あわ</rt></ruby>ただしくもがいてる</div>
        <div class="zh">我仍在慌亂中掙扎</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>悔<rt>くや</rt></ruby>しい<ruby>気<rt>き</rt></ruby><ruby>持<rt>も</rt></ruby>ちも ただ<ruby>情<rt>なさ</rt></ruby>けなくて</div>
        <div class="zh">那份悔恨也只是讓人覺得可笑</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>涙<rt>なみだ</rt></ruby>が<ruby>出<rt>で</rt></ruby>る</div>
        <div class="zh">眼淚不禁落下</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>踏<rt>ふ</rt></ruby>み<ruby>込<rt>こ</rt></ruby>むほど <ruby>苦<rt>くる</rt></ruby>しくなる</div>
        <div class="zh">越往前走，越覺得痛苦</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>痛<rt>いた</rt></ruby>くもなる</div>
        <div class="zh">也越來越痛</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>嗚呼<rt>ああ</rt></ruby>、<ruby>感<rt>かん</rt></ruby>じたままに<ruby>進<rt>すす</rt></ruby>む</div>
        <div class="zh">啊，按感受向前走</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>自<rt>じ</rt></ruby><ruby>分<rt>ぶん</rt></ruby>で<ruby>選<rt>えら</rt></ruby>んだこの<ruby>道<rt>みち</rt></ruby>を</div>
        <div class="zh">走在自己選擇的這條路上</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>重<rt>おも</rt></ruby>いまぶた<ruby>擦<rt>こす</rt></ruby>る<ruby>夜<rt>よる</rt></ruby>に</div>
        <div class="zh">在擦著沉重眼皮的夜晚</div>
    </div>
    <div class="line">
        <div class="jp">しがみついた<ruby>青<rt>あお</rt></ruby>い<ruby>誓<rt>ちか</rt></ruby>い</div>
        <div class="zh">緊緊抓住那藍色的誓言</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>好<rt>す</rt></ruby>きなことを<ruby>続<rt>つづ</rt></ruby>けること</div>
        <div class="zh">持續做喜歡的事情</div>
    </div>
    <div class="line">
        <div class="jp">それは<ruby>楽<rt>たの</rt></ruby>しいだけじゃない</div>
        <div class="zh">它不只是快樂而已</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>本<rt>ほん</rt></ruby><ruby>当<rt>とう</rt></ruby>にできる</div>
        <div class="zh">真的能做到嗎</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>不<rt>ふ</rt></ruby><ruby>安<rt>あん</rt></ruby>になるけど</div>
        <div class="zh">雖然會感到不安</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>嗚呼<rt>ああ</rt></ruby>、<ruby>何<rt>なん</rt></ruby><ruby>枚<rt>まい</rt></ruby>でも ほら<ruby>何<rt>なん</rt></ruby><ruby>枚<rt>まい</rt></ruby>でも</div>
        <div class="zh">啊，不管畫多少張，看吧，多少張都行</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>自<rt>じ</rt></ruby><ruby>信<rt>しん</rt></ruby>がないから<ruby>描<rt>えが</rt></ruby>いてきたんだよ</div>
        <div class="zh">因為沒有自信，所以我一直在描畫</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>嗚呼<rt>ああ</rt></ruby>、<ruby>何<rt>なん</rt></ruby><ruby>回<rt>かい</rt></ruby>でも ほら<ruby>何<rt>なん</rt></ruby><ruby>回<rt>かい</rt></ruby>でも</div>
        <div class="zh">啊，不管重來多少次，看吧，多少次都行</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>積<rt>つ</rt></ruby>み<ruby>上<rt>あ</rt></ruby>げてきたことが<ruby>武<rt>ぶ</rt></ruby><ruby>器<rt>き</rt></ruby>になる</div>
        <div class="zh">累積起來的東西會變成武器</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>周<rt>まわ</rt></ruby>りを<ruby>見<rt>み</rt></ruby>たって <ruby>誰<rt>だれ</rt></ruby>と<ruby>比<rt>くら</rt></ruby>べたって</div>
        <div class="zh">即使看看周圍，或拿自己和別人相比</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>僕<rt>ぼく</rt></ruby>にしかできないことはなんだ</div>
        <div class="zh">我究竟能做出什麼只有我能做到的事情</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>今<rt>いま</rt></ruby>でも<ruby>自<rt>じ</rt></ruby><ruby>信<rt>しん</rt></ruby>なんかない それでも</div>
        <div class="zh">至今我仍然沒有自信，但即便如此</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>感<rt>かん</rt></ruby>じたことない<ruby>気<rt>き</rt></ruby><ruby>持<rt>も</rt></ruby>ち</div>
        <div class="zh">無法感受到的心情</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>知<rt>し</rt></ruby>らずにいた<ruby>想<rt>おも</rt></ruby>い</div>
        <div class="zh">原來一直都不知道的思念</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>あ<rt>あ</rt></ruby>の<ruby>日<rt>ひ</rt></ruby><ruby>踏<rt>ふ</rt></ruby>み<ruby>出<rt>だ</rt></ruby>して</div>
        <div class="zh">在那天跨出一步</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>初<rt>はじ</rt></ruby>めて<ruby>感<rt>かん</rt></ruby>じたこの<ruby>痛<rt>いた</rt></ruby>みも<ruby>全<rt>ぜん</rt></ruby><ruby>部<rt>ぶ</rt></ruby></div>
        <div class="zh">這份第一次感受到的痛楚，也全部都在其中</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>好<rt>す</rt></ruby>きなものと<ruby>向<rt>む</rt></ruby>き<ruby>合<rt>あ</rt></ruby>うことで</div>
        <div class="zh">當我面對自己喜歡的事物時</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>触<rt>ふ</rt></ruby>れたまだ<ruby>小<rt>ちい</rt></ruby>さな<ruby>光<rt>ひかり</rt></ruby></div>
        <div class="zh">觸碰到那微小卻閃亮的光</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>大<rt>だい</rt></ruby><ruby>丈<rt>じょう</rt></ruby><ruby>夫<rt>ぶ</rt></ruby> <ruby>行<rt>い</rt></ruby>こう あとは<ruby>楽<rt>たの</rt></ruby>しむだけだ</div>
        <div class="zh">沒事的，前進吧，剩下的就只是享受</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>嗚呼<rt>ああ</rt></ruby>、<ruby>全<rt>すべ</rt></ruby>てを<ruby>賭<rt>か</rt></ruby>けて<ruby>描<rt>えが</rt></ruby>く</div>
        <div class="zh">啊，拿出全部去描繪</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>自<rt>じ</rt></ruby><ruby>分<rt>ぶん</rt></ruby>にしか<ruby>出<rt>だ</rt></ruby>せない<ruby>色<rt>いろ</rt></ruby>で</div>
        <div class="zh">用只有我才能表現出的顏色</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>朝<rt>あさ</rt></ruby>も<ruby>夜<rt>よる</rt></ruby>も<ruby>走<rt>はし</rt></ruby>り<ruby>続<rt>つづ</rt></ruby>け</div>
        <div class="zh">不分白天黑夜，持續奔跑</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>見<rt>み</rt></ruby>つけ<ruby>出<rt>だ</rt></ruby>した<ruby>青<rt>あお</rt></ruby>い<ruby>光<rt>ひかり</rt></ruby></div>
        <div class="zh">找到那片藍色的光芒</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>好<rt>す</rt></ruby>きなものと<ruby>向<rt>む</rt></ruby>き<ruby>合<rt>あ</rt></ruby>うこと</div>
        <div class="zh">面對喜歡的事物</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>今<rt>いま</rt></ruby>だって<ruby>怖<rt>こわ</rt></ruby>いことだけど</div>
        <div class="zh">即使現在也仍然很害怕</div>
    </div>
    <div class="line">
        <div class="jp">もう<ruby>今<rt>いま</rt></ruby>はあの日の<ruby>透<rt>とう</rt></ruby><ruby>明<rt>めい</rt></ruby>な<ruby>僕<rt>ぼく</rt></ruby>じゃない</div>
        <div class="zh">但我已經不是那天透明的自己了</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>嗚呼<rt>ああ</rt></ruby>、ありのままの</div>
        <div class="zh">啊，真實的我</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>替<rt>か</rt></ruby>えがない<ruby>僕<rt>ぼく</rt></ruby>だ</div>
        <div class="zh">是無可取代的我</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>知<rt>し</rt></ruby>らず<ruby>知<rt>し</rt></ruby>らず<ruby>隠<rt>かく</rt></ruby>してた</div>
        <div class="zh">不知不覺一直隱藏著</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>本<rt>ほん</rt></ruby><ruby>当<rt>とう</rt></ruby>の<ruby>声<rt>こえ</rt></ruby>を<ruby>響<rt>ひび</rt></ruby>かせてよほら</div>
        <div class="zh">讓真實的聲音響起來吧，看著</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>見<rt>み</rt></ruby>ないフリしていても</div>
        <div class="zh">即使假裝沒看到</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>確<rt>たし</rt></ruby>かにそこに<ruby>今<rt>いま</rt></ruby>もそこにあるよ</div>
        <div class="zh">它確實現在也還在那裡</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>知<rt>し</rt></ruby>らず<ruby>知<rt>し</rt></ruby>らず<ruby>隠<rt>かく</rt></ruby>してた</div>
        <div class="zh">不知不覺一直隱藏著</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>本<rt>ほん</rt></ruby><ruby>当<rt>とう</rt></ruby>の<ruby>声<rt>こえ</rt></ruby>を<ruby>響<rt>ひび</rt></ruby>かせてよさあ</div>
        <div class="zh">讓真實的聲音響起來吧</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>見<rt>み</rt></ruby>ないフリしていても</div>
        <div class="zh">即使假裝沒看到</div>
    </div>
    <div class="line">
        <div class="jp"><ruby>確<rt>たし</rt></ruby>かにそこに<ruby>君<rt>きみ</rt></ruby>の<ruby>中<rt>なか</rt></ruby>に</div>
        <div class="zh">它確實就在你心中</div>
    </div>
</div>
