<div style="height: 15vh; width: 15vw;">
  <iframe #iframe width="100%" height="100%" src="https://www.youtube.com/embed/jfKfPfyJRdk"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
</div>
<ul>
  <li>Hosting</li>
  <li>Cloud Firestore</li>
  <li><a href="https://firebase.google.com/docs/database?authuser=0">Real-time Database</a></li>
  <li><a href="https://firebase.google.com/docs/storage?authuser=0">Storage</a></li>
  <li><a href="https://firebase.google.com/docs/auth?authuser=0">Authentication</a></li>
  <li><a href="https://firebase.google.com/docs/functions?authuser=0">Cloud Function</a></li>
  <li><a href="https://firebase.google.com/docs/rules?authuser=0">Security Rule</a></li>
  <li><a href="https://firebase.google.com/docs/app-check?authuser=0">App Check</a></li>
  <li><a href="https://firebase.google.com/docs/emulator-suite?authuser=0">Emulator Suite</a></li>
</ul>
