<h1 id="sigil_toc_id_1">第一部</h1>
<div> <br> </div>
<p>
  烈赤好久沒見過藍天了，他抬頭望去，天空就像父親的臉色一樣，最近總是陰沉沉的。他喘了口氣四處張望，慎重地捧著懷裡的布包朝營盤邊緣奔去。族人的屎尿味撲鼻襲來，但烈赤習以為常，挖糞坑是身為納可兒（門戶奴隸）的日常工作，也是父親氈帳總在糞坑旁的原因。
</p>
<p>周遭氈帳越來越少，再過去就是草場了，他警戒地望著四周，族人們正忙著理羊毛，忙著織毛氈，忙著後天的那達慕，沒人注意到他穿過營盤。突然一隻肥壯的粗腿從一旁的氈帳後伸出來，勾住了烈赤的腳踝。</p>
<p>「黑耳獺，還不去挖糞坑？」</p>
<p>烈赤被那隻腳狠狠絆倒，但他熟練地翻滾，雖然疼痛卻也毫髮無傷。</p>
<p>「你那什麼？」粗腿的主人朝烈赤胸口抓去。</p>
<p>「還來！」烈赤反手一抓，布包隨即裂開，十幾根雁羽散落四地。</p>
<p>「憑這偷來的羽毛，阿古拉的箭不可能比我父親的還好！」</p>
<p>啪！那人雙指一彈，氈帳後立刻竄出兩名嘍囉踐踏雁羽。</p>
<p>「札納！」烈赤大吼，向前撲去，卻被重重踹開。</p>
<p>札納身軀異常高大，渾身肌肉糾結，才十七歲就是全族最高的人。札納雙手抱胸看著他，臉上滿是輕蔑的笑容。烈赤牙一咬，撲向前去護住羽毛，任由嘍囉身體踩踏他的身體。</p>
<p>「走了，讓他去挖糞坑。」札納大笑，轉身離去。</p>
<p>烈赤狠狠瞪了札納一眼，開始撿拾殘破的雁羽。</p>
<p>「要不是他父親投降，鷹族早滅了。」札納邊走邊說道。</p>
<p>「要是我，戰死啊！」嘍囉尖聲附和。</p>
<p>「知道嗎？就是我父親親手俘虜阿古拉的，還說是鷹族第一勇士，我看是鳥族吧。」札納斜眼偷瞄烈赤。</p>
<p>「沒膽維護自己父親的榮譽，看來真是隻旱獺生的。」嘍囉大笑。</p>
<p>「你父親偷襲……」烈赤握緊雙拳、渾身顫抖。「殺不死我父親，還被砍成跛子。難道你父親比鳥族還弱？」</p>
<p>札納轉身大吼一聲，拔刀撲倒烈赤。烈赤被撞的直冒金星，幾乎失去意識。</p>
<p>「塔陽薩滿已經上天了，沒有他說話，你跟阿古拉等死吧。」札納將刀子架在烈赤脖子上。</p>
<p>烈赤感到脖子一陣刺痛，他拼命推開札納，卻被他巨大身軀牢牢壓住，動彈不得。</p>
<p>「札納，刀不是這樣用的。」沉穩的嗓音自後方傳來，來人身材高大卻已白髮蒼蒼，艱苦的生活在他臉上刻出一道道的皺紋。</p>
<p>「阿古拉，刀不沾血要做什麼？」札納舉刀指向來人，刀鋒上已沾有些許血跡。</p>
<p>烈赤脖子被劃開一小口，血開始流出，他卻絲毫不在意，只是瞪著札納，也瞪著來人。突然，烈赤感到土地微微震動，隆隆蹄聲自遠處傳來。</p>
<p>眾人望去，兩名騎士騎著高大的騸馬奔來。一名年紀與烈赤相似，但身穿上好長袍，腰間繫著長刀。另一名騎士年紀大的多，但十分精壯，穿著深色牛皮鎧甲，刀柄與皮甲上的圖騰宣示他是勃拔喀部的宿衛隊長。</p>
<p>「阿古拉，你在這做什麼？」宿衛隊長對著阿古拉大喊。</p>
<p>「岱欽，我兒子跌倒了，沒什麼。」阿古拉朝兩名騎士點頭。</p>
<p>「札納，給巴特爾看看你們整理的場地，後天就是那達慕了。」岱欽瞄了一眼阿古拉又道。「我們得用力量好好頌揚逝去的塔陽薩滿。」</p>
<p>「是。」札納行禮後離去，臉上滿是賊笑。</p>
<p>「阿古拉，你的箭可以讓我拿第一吧？」巴特爾問。</p>
<p>「我未來的大汗，我的箭會是最直最準的。」</p>
<p>「箭再好，也終究得靠自己，是吧？」巴特爾大笑。「我等你的箭！駕！」</p>
<p>「今天塔陽薩滿天葬了，別太早讓我有機會拔刀。」岱欽小聲說，狠狠甩了一鞭離去，揚起一陣沙土。</p>
<p>阿古拉朝烈赤伸出手。「把紅土、馬奶和成泥，抹在傷口上，然後……」</p>
<p>「我知道。」烈赤抓著羽毛自行爬起，摀住傷口，頭也不回地離去。</p>
<p>阿古拉愣住了好幾個心跳，伸出的手頹然落下。他望向天空，陰鬱的天空似乎也看著他。</p>
<p><br></p>
<p>
  人群不知何時竟聚集了起來，烈赤用力握拳，不讓手發抖，他的心臟就像罐鼓一樣咚咚作響。他恨父親的懦弱，更恨自己的無能。眼淚在他眼眶裡打轉，他將臉抬高，努力不讓眼淚滴下。他強迫自己深呼吸，緊閉嘴巴，拚死裝出若無其事的樣子。真正的戰士就算是死前，臉上也不會有任何表情，只會有對敵人的輕蔑。烈赤緩步走過看熱鬧的人群，一步一步踏穩，哪怕他恨不得狂奔逃離那裏。
</p>
<p>「這納可兒跟阿古拉真該去死。」</p>
<p>「下次劫掠就派他們父子當前鋒吧，想想多少人死在阿古拉手下？」</p>
<p>「塔陽薩滿回天上了，等著吧。」</p>
<p>「烏能根會瘸，聽說就是阿古拉當年……」</p>
<p>「噓！別再說了。」</p>
<p>
  烈赤聽得一清二楚，但他習以為常。遠離了人群後，他故作輕鬆地伸了個懶腰，趁機往後看去，確定沒人在注意他後，便迅速躲到一個氈帳後面，蹲了下來，開始將淚水拭去，他將臉埋在雙掌中，不斷喘氣發抖。他望向遠方裝飾著鷹圖騰的白色氈帳，但馬上失落地低下頭去。
</p>
<p>如果塔陽還活著，烈赤可以躲進他的氈帳裡，雖然他可能會被塔陽叫去照顧他的海青，但至少在那裡，他是安全的，沒有人能隨意進出塔陽的氈帳，除了烈赤之外。</p>
<p>
  薩滿在部族中的地位非常高，是唯一能與長生天溝通的人，而在勃拔喀部中，塔陽的地位甚至僅次於大汗努桑哈。塔陽的占卜非常靈驗，能預知那裡水草豐盛、哪天劫掠能夠避開風雨，但勃拔喀部能在草原中迅速壯大，還是因為塔陽說服努桑哈不殺光戰俘，而是讓他們用刀弓、巧手來換取食物、地位。
</p>
<p>
  烈赤從氈帳後走了出來，臉上滿是紅通通的擦痕。他不想回氈帳去，他知道那些雁羽的重要性，但他現在只想在怨恨與自棄中逃避。烈赤越走越遠，周遭的氈帳也越來越少。太陽已逐漸消失，但眼前一望無際的草原仍尚未暗去，他四處張望尋找部族裡少數友善的身影。
</p>
<p>「噓！大老黃！」烈赤輕聲喊道，他東張西望地看著。「大老黃，來！」</p>
<p>不久，一匹略顯老態的黃馬應聲而來，烈赤立刻衝上去抱住大老黃的脖子，輕柔地用手整理短短的馬鬃。大老黃溫馴地任其撫摸，馬頭上下動著，彷彿在輕拍烈赤的肩膀。</p>
<p>「也就只有你啦。」烈赤拿出馬刷子，仔細地替大老黃整毛。大老黃舒服地直打呼嚕，鼻頭冒出白白的霧氣。</p>
<p>大老黃是阿古拉從小養到大的，是極佳的烏審馬，身軀短小但十分精幹，非常有靈性。烈赤聽父親說，當年就是大老黃載他們父子倆來到勃拔喀部的，也就只有在大老黃面前，父親才會罕露笑容。有兩名族人牽著馬往營盤走去，看到烈赤也不說話，繼續向前走著。
</p>
<p>
  牲畜是草原人的第二生命，尤其是馬匹。若有自己族人被殺了，還不一定什麼大風波，畢竟草原上的鬥爭實在太過頻繁，不知不覺都成了日出日落的一部分。但若有人沒來由地殺了自家的馬，全族震怒都不在話下。也因為如此，幫馬兒整毛的烈赤，絕不會有人說閒話。
</p>
<p>「這下箭羽沒得做了，怎麼辦？」烈赤邊刷邊問，大老黃的耳朵轉了轉，彷彿在仔細聆聽。</p>
<p>「就算父親繼續當這裡的製箭師，我還是會逃，我不可能一輩子當個納可兒，隨便人叫喚。」</p>
<p>像是在回應烈赤般，大老黃重重吐了一口氣。烈赤收起馬刷子。</p>
<p>「如果岱欽要我當劫掠前鋒，我不會帶著你去送死的。就算現在是冬天，我一樣會帶著你逃跑。」</p>
<p>烈赤將額頭貼在大老黃的額頭上，閉上眼睛。</p>
<p>「你能幫我說服父親嗎？」</p>
<p>大老黃的眼珠動來動去，想看主人的臉卻看不到，只好盯著主人滿是補釘的衣褲和足靴。許久，烈赤睜開眼睛，這下大老黃總算看見主人了，卻被他紅紅的脖子吸引了注意力。</p>
<p>「走啦。」烈赤拍拍大老黃的脖子。</p>
<p>大老黃抽著鼻子，聞聞沾染在他鼻子上的東西，牠很熟悉這種味道，不過是很久以前的事了。</p>
<p><br></p>
<p>阿古拉知道烈赤去找大老黃了，也不擔心，那傷口對男人來說，就像每年必到來的風雪一樣，能說上一兩句，但絕對沒什麼好大驚小怪的。</p>
<p>阿古拉回到氈帳後，拿出刀子開始切削風乾後的箭材，確保粗細均等，那都是上好的樺木，是他連夜替族人修整狩獵弓才換到的。他希望巴特爾能靠這些箭獲勝，否則……。</p>
<p>帳門被推開了，烈赤走了進來。他看著父親，取出整理過的雁羽放在桌上，上面的塵土已被烈赤仔細去除，但仍凌亂不堪。</p>
<p>「那些不能用了。」阿古拉看了一眼雁羽，繼續專注在箭身上。</p>
<p>「札納是故意來找碴的，他怕你的箭比烏能根的好。」</p>
<p>「我會拆舊箭上的羽毛，這就夠了。」</p>
<p>「他們侮辱你。」</p>
<p>「侮辱又怎樣？至少我們有氈帳睡，有馬奶喝。」</p>
<p>「他還污辱母親。」烈赤咬牙。</p>
<p>阿古拉心頭一痛，嘆了口氣。「你母親總在天上看著你，你想讓她看你流血？」</p>
<p>「我好久沒看到天空了。」烈赤坐下，看著父親右手上的巨大傷疤。</p>
<p>「烈赤，自從塔陽薩滿死後，沒人看過藍天。等下一任薩滿的骨占吧，我們會知道長生天的旨意的。」阿古拉放下箭材，伸長右手甩了甩。</p>
<p>「父親，沒有塔陽薩滿的命令，岱欽一定會派我們當劫掠前鋒送死，我們帶著大老黃，再偷一匹馬就逃吧。」</p>
<p>「大老黃老了，跑不快了。如果我的箭讓巴特爾拿第一，我可以繼續當製箭師。」</p>
<p>「如果沒有呢？我們是鷹族，他們只想我們死光！」</p>
<p>「烈赤！我用我做的箭矢取得了地位，你現在是勃拔喀部的人，草原上再也沒有鷹族了。」</p>
<p>「我不是勃拔喀部的人！」</p>
<p>「永遠記住，草原不歡迎沒有部族的人。就憑你，一到冬天就被草原會用白色的箭刺穿，到時我可不會帶大老黃去找你屍體。」阿古拉將箭材放到桌上。「你今天一樣要揮五百刀，灑五百次魚骨，拉五百次虛弓，再把所有弓弦上油抹亮。」</p>
<p>阿古拉拿起皮帽，朝帳門走去。</p>
<p>「你的右手廢了不代表我的也廢了，你知道我不可能一輩子當納可兒，你只是沒膽在草原上活下去，我敢！」烈赤朝著阿古拉大吼。</p>
<p>阿古拉背對烈赤，右手顫抖地握拳。「我去看盧刺卡那還有沒有箭羽。」</p>
<p>
  烈赤惡狠狠地看著父親的背影，抄起一把造型奇特的刀子，就朝一塊木幹上砍去。那本是削弓用的短刀，阿古拉在上面精巧地綁上樹枝與牛腿骨，用來模擬長刀的重量與平衡，木幹上滿是刀痕，密集卻不雜亂。烈赤任憑怒火在木幹上蔓延，看似隨意但刀痕卻工整地落在木幹上。
</p>
<p>憑什麼札納他們可以騎馬射弓，我只能躲在氈帳裡用假刀砍木頭？憑什麼他們可以去狩獵，我只能挖糞坑？答案再明顯不過，但烈赤不願去想。</p>
<p>阿古拉踏出氈帳外時，天幾乎暗了，灰雲密布的天空，總讓黑夜提早到來。阿古拉聽著氈帳傳來的揮刀聲，他聽得出兒子的右手還是向右偏移，但現在不是提醒兒子的好時機。他戴上皮帽往盧刺卡的氈帳走去，被凍成深褐色的耳朵裸露在外。</p>
<p><br></p>
<p>
  一輛勒勒車就停在盧刺卡氈帳外，車輪幾乎跟阿古拉的胸口一樣高，但車軸裂開了，顯然等待修理。草原人的勒勒車整輛都是木頭製成的，沒有任何鐵件，構造簡單，可前後串聯成車隊，甚至一人就可駕駛。但身為戰俘的阿古拉不配擁有自己的勒勒車，更不用提牲畜了。
</p>
<p>「盧刺卡。」阿古拉喊，注意到地上腳印凌亂。</p>
<p>一個身材矮短的人從氈帳裡鑽出，酒臭味也隨之襲來。</p>
<p>「你那還有多的雁羽嗎？」</p>
<p>「沒啦，都沒啦！」</p>
<p>「札納來過了？」</p>
<p>「岱欽來過！」盧刺卡沒好氣的說，往外看了一兩眼。</p>
<p>「那我不需要其他東西了。」阿古拉點頭，轉身要走。</p>
<p>「幫我修幾個扳指，我發誓幫你問問。」</p>
<p>「木的？」</p>
<p>「也有牛骨的。」</p>
<p>「我看看。」</p>
<p>兩人走進氈帳，壁上掛滿各種木製、骨製器具。中央的圓桌上擺滿幾個精巧的扳指毛胚，一兩把銼刀隨意放在一旁。</p>
<p>「跟以前一樣？」阿古拉坐下，拿起毛胚開始端詳。</p>
<p>「就那樣。」盧刺卡將皮帽脫下，他頭頂全禿了，但臉色很是紅潤。</p>
<p>阿古拉從懷裡拿出一個烏黑光亮的扳指放在桌上，他左手熟練地拿起銼刀，照著烏黑扳指的樣式開始磨製，右手的疤痕在火光下顯得更加駭人。</p>
<p>盧刺卡盯著黑色扳指，眼神很是憋屈。「長生天可憐我，這輩子遇不到雷擊木，不然用來做幾個扳指獻給大汗，現在就有人幫我暖床啦！」</p>
<p>阿古拉不理會盧刺卡，專注於眼前用雷擊木磨成的烏黑扳指。</p>
<p>雷擊木非常罕見，據說長生天藉由閃電將其意志注入了那塊木頭，上頭佈滿複雜神祕的紋路，不同的人看，紋路就會不同，據說還能予人啟示。阿古拉看不懂上面的紋路，但他知道上面精緻雕刻的狼頭紋是一個承諾。</p>
<p>「你知道送葬隊伍跑了什麼出來嗎？」盧刺卡盯著阿古拉快速游移的手。</p>
<p>阿古拉沒有回應，專注地磨製手上的扳指。盧刺卡認識阿古拉許久了，也不覺得冒犯。</p>
<p>「你可想不到，整個天葬隊伍都停下了，每雙眼睛都往上看。整個草原靜得跟什麼一樣，除了風聲，什麼都聽不到。沒有汗獺亂竄的聲音，沒有鳥叫聲，連馬的呼氣聲都沒啦。」</p>
<p>阿古拉眼睛仍盯著扳指，但磨製的速度慢了下來。</p>
<p>「鷹啊！是鷹在飛啊！」盧刺卡忍不住大喊。「整整十年啦，草原上沒人看過鷹，居然又出現了。」</p>
<p>「赭嶺那方向？」</p>
<p>「怎麼？鷹族第一勇士，想去抓？」</p>
<p>「沒人可以真正抓住鷹。」</p>
<p>「但可以殺。」</p>
<p>阿古拉陡然停手，但銼刀隨即繼續舞動。</p>
<p>「岱欽也看到了。十年前就是他帶頭的吧？」</p>
<p>阿古拉沉默不語。</p>
<p>「把你那隻幼崽管好，做好你的弓箭。」盧刺卡拿出一袋馬奶酒灌了一口。「看我！一個人活不了啊！也只能低頭幫他們修個東西。呸！」盧刺卡吐了個口痰。「丟臉嗎？能活有什麼丟臉？」</p>
<p>阿古拉依舊不理會盧刺卡。</p>
<p>「誰都知道你們的鷹翎箭是草原上最好的箭，怕什麼。」盧刺卡砸砸嘴，將馬奶酒丟給阿古拉。</p>
<p>阿古拉頭也不抬，隨手將馬奶酒接起，放在一旁。</p>
<p>「不是聽說百發百中嘛？弄個幾支鷹翎箭獻給大汗，保證你活得好好的。」</p>
<p>「沒有這種箭。」</p>
<p>「隨便你，反正大家都說百發百中……」盧刺卡一把將把馬奶酒拿回來，又灌了一口問道。「不喝？」</p>
<p>「弄完再喝吧。」</p>
<p>「告訴你！趁沒開戰趕快喝。我都聽說啦，鐵木真帶著狼族離開札答蘭部了。我看著札木合那小崽長大，他眼是豹的眼、牙是野豬的牙、腿是鹿的腿。就算鐵木真是他安達（蒙古語的結拜兄弟），有一天他還是會把鐵木真殺了。」</p>
<p>「那鐵木真呢？」</p>
<p>「鐵木真？他就只是匹狼！」</p>
<p>阿古拉看著雷擊木扳指上的狼頭雕。「你以前是札答蘭部的人？」</p>
<p>盧刺卡眼神突然迷茫了起來，馬奶酒一口接一口。氈帳頓時陷入沉默，只剩下盧刺卡的咕嚕聲。</p>
<p>許久，盧刺卡把酒袋往旁一丟，顯然空了。「塔陽薩滿去天上啦，他的海青也跟去啦，再來換……嗝，誰？」</p>
<p>「大汗放飛塔陽薩滿的海青了？」阿古拉抬起眉毛。</p>
<p>「放什麼！就憑空消失啦！找都找不到！」盧刺卡開始學鳥拍翅。</p>
<p>「酒醒了再出去吧，別亂說話。」阿古拉將磨好的扳指排好。</p>
<p>「阿古拉……」盧刺卡又撿起了酒袋，眼睛湊到袋口上，仔細研究還剩幾滴。「赭嶺，第二個山丘，大家都看到了，那可是一對金鵰……」</p>
<p>阿古拉看著盧刺卡，雙眉緊皺。</p>
<p><br></p>
<p>阿古拉走回氈帳時，天空早已全黑，烈赤正端出一個木碗。他剛拉完虛弓，渾身蒸騰著汗氣，他不理會父親，閉上眼。</p>
<p>「五百次。」阿古拉蓋上皮襖睡去。</p>
<p>烈赤捏起一些魚骨，輕輕往木碗撒去，輕微的碰撞聲傳來。六？烈赤心想。他睜開眼睛，數數碗裡的魚骨，鬆了口氣。</p>
<p>烈赤一直不懂為何父親要他練這個，他記得其他小孩練騎射的時候，他在挖糞坑，對著木幹揮假刀。其他小孩在大口喝馬奶時，他得回氈帳灑這魚骨。更別提父親從小就不准他用皮帽蓋住耳朵。每到冬天，這總讓他的耳朵被凍成深褐色，也是他被叫黑耳獺的原因。
</p>
<p>他深吸一口氣，又丟出魚骨，多年來的嘗試，讓他可以精準聽見魚骨撞擊木碗的聲音，從而推斷出魚骨的數量。烈赤希望這是某種狩獵技巧，但除了聽到蹲在糞坑上的族人呼吸聲，似乎再無用途。</p>
<p>他不願多想，只想趕快灑完五百次魚骨，這是他對死去母親的承諾。烈赤早已忘記母親的模樣，也幾乎沒再夢過她，但他永遠記得那雙溫暖的手，輕輕地抱住自己。</p>
<p>四？烈赤數數魚骨，懊惱地將魚骨抓起丟回碗裡。他瞄到依舊散落在桌上的雁羽，不禁地嘆了口氣。</p>
<p>
  大汗突然宣布舉辦那達慕，是為了頌揚塔陽薩滿驟逝的靈魂，這可沒讓阿古拉有多少時間準備新的箭矢。如果巴特爾沒贏得射箭，那麼首席製箭師就輪不到父親當。他知道父親的箭矢是全草原上最好的，但他也知道，沒有好的箭羽，箭就飛不穩。而烈赤猜得出來盧刺卡那邊沒有新羽毛，否則父親不會倒頭就睡。
</p>
<p>八？烈赤數數魚骨，這次差的可多了。烈赤相當氣悶，嘖地一聲握拳朝木碗捶去，但父親的呼吸聲傳來，讓他在最後一刻收手。</p>
<p>父親說過，數錯魚骨都是因為控制不了心，只要心像無雲的藍天般平靜，那就連敵人的心跳聲也能聽到，這時面對再強的敵人也不會有破綻。</p>
<p>怎麼可能打得贏札納那種人呢？烈赤不懂，他曾問過塔陽薩滿心如何像無雲藍天一樣平靜，薩滿微笑不語，朝著海青努了努嘴，便繼續觀察地上的札達石，好像海青會告訴他答案似的。</p>
<p>此後，烈赤一有機會就會偷看那隻海青，希望可以看到答案。那隻海青全身雪白，就連腳爪也是，只有眼睛像血一般紅。烈赤不曾看過那隻海青飛，也不曾聽過牠鳴叫，每當塔陽薩滿召見阿古拉和烈赤時，那隻海青總是靜靜地盯著他，一動也不動。</p>
<p>塔陽薩滿的海青據說是憑空出現的，在許久以前一場劫掠結束後，大家聚集在畫著鷹圖騰的氈帳前，等待塔陽薩滿念咒撫慰逝去的靈魂。而當他走出氈帳時，那隻海青就站在他的手臂上。</p>
<p>自從塔陽薩滿死後，白海青還沒離開過氈帳，沒人知道會由誰繼承。烈赤收起木碗，慢慢爬進皮襖裡。夜晚變得很安靜，烈赤可以聽到隔壁氈帳傳來的說話聲與馬的呼氣聲，但最清楚的莫過於父親的鼾聲。</p>
<p>
  烈赤換個姿勢躺著，脖子立刻傳來一陣刺痛，此時他才驚覺今天離死亡不遠。怒火逝去後，罪惡感與愧疚感馬上襲捲而來，壓著烈赤幾乎無法呼吸。如果父親不在，我還能活著嗎？等到父親老後，我能保護父親嗎？難道我真是一隻黑耳獺？不，連黑耳獺都不會忘記自己母親長什麼樣。
</p>
<p>烈赤感到眼眶冰冰的，他強迫自己停止思考，專心數著父親的鼾聲。烈赤過去每一天都不好熬，無數的夜裡，他總是這樣聽著父親的鼾聲睡著的。烈赤的手緩緩穿過皮襖，輕輕地，他碰到了一隻大手，漸漸地，他的呼吸平緩了下來。</p>
<p>烈赤開始微微打鼾後，那雙滿是粗繭與疤痕的大手將烈赤的手輕輕握住。許久，阿古拉鬆手，緩緩起身，拿起滿是補釘的皮外套，向外走去，一聲不響。</p>
<p><br></p>
<p>烈赤突然醒來，四周烏漆摸黑的，什麼也看不到，黑暗像是有生命般地湧向他，灌滿他的嘴與肺。寒風不斷吹來，他顫抖起身，感到身上的結霜散落在地，他發現自己不在氈帳裡，父親也不在旁邊。</p>
<p>
  他辨別不出方位，只好看向天空，希望今晚的雲沒有遮住星星，但他卻發現太陽竟高掛在天上。他覺得好刺眼，眼睛卻移不開，他感到太陽在焚燒他的雙眼。他下意識地舉手遮住雙眼，卻看到一對長滿金色羽毛的翅膀，劇烈的疼痛令他大叫，他卻只聽到一陣淒厲的鳥叫聲。
</p>
<p>烈赤驚醒，驚慌地望看著四周，想確認自己在哪裡，接著他聞到熟悉的屎尿味，才確定自己仍在氈帳裡。他大力喘氣，剛才的夢實在太過真實，彷彿還在眼前。</p>
<p>那金色的翅膀跟鳥叫聲是怎麼回事？烈赤心想，趕緊撫摸自己雙手，好險沒什麼異樣。他望向一旁，才發現父親真的不見了。</p>
<p>
  身為俘虜，半夜離開氈帳會被視為逃亡，就算是要排便，這種酷寒也不會有人選擇離開氈帳，都是在氈帳內解決。烈赤耐心等待，祈禱父親馬上就會回來。少了父親鼾聲的氈帳，令烈赤非常不安。他豎耳傾聽，希望能聽到父親回來的聲音，但周遭安靜異常，他甚至可以聽到附近氈帳中傳來的鼾聲。
</p>
<p>許久，烈赤失去了耐心，他知道父親回來睡覺之前，有去拜訪盧刺卡，說不定他知道些什麼。自然，烈赤不去想父親被札納或岱欽暗算的可能性，但他還是拿起那把拼湊出來的削弓刀。</p>
<p>
  烈赤慢慢掀開帳門，一道耀眼白光映入烈赤雙眼，令他不由得癡了。總是佈滿天空的厚雲居然消失了，他往外走，繁星密集的就像斡嫩河一樣美麗，月光映照在地面上，白霜閃耀著朦朧的光輝，烈赤甚至能清楚看見自己的影子。突然，微弱的腳步聲傳來，他聽得出來那是專門巡邏戰俘區的夜哨。
</p>
<p>雖然塔陽薩滿說服大汗努桑哈讓戰俘用刀弓或巧手來換取氈帳和馬奶，但這些人總被視為不忠，飽受歧視，與勃拔喀部的衝突不斷發生，也因此日夜都有哨兵巡視。</p>
<p>烈赤迅速躲到附近的勒勒車後，他心臟劇烈跳動，卻絲毫沒有辦法平靜下來，這是他第一次在半夜離開氈帳。夜哨的談話聲越來越明顯，烈赤摒住氣息，耐心等待。</p>
<p>「摔角肯定是札納贏，他壯的跟野豬沒兩樣。」兩名夜哨手拿長刀走過，穿著厚厚的皮外套與氈帽。</p>
<p>「誰知道？巴特爾也會上場，他技巧最好又是大汗長子，可難說了。」</p>
<p>「札納如果摔角第一，岱欽肯定將他編入大汗宿衛。唉，年紀輕輕就可以有一套牛皮甲。」</p>
<p>「要是射箭，肯定沒人能贏巴特爾了，想想那隻貂。」</p>
<p>「是啊，完整無缺的貂皮，沒有箭孔！」</p>
<p>「聽說他直接衝到圍獵隊前，一箭射進貂嘴裡。嗯？也就他做的到了。」</p>
<p>夜哨終於消失在視野中，烈赤深吸一口氣，輕輕走出勒勒車，彎腰快走。好在路上沒有再遇到其他夜哨，烈赤總算掀開盧刺卡的帳門，躲了進去。</p>
<p>「盧刺卡？」</p>
<p>如雷的鼾聲自暗處傳來，烈赤跑去搖盧刺卡的肩膀，隨之而來的一連串酒嗝害得令烈赤直做嘔。</p>
<p>「嗯……？」</p>
<p>「盧刺卡，我父親在哪裡？他不見了。」</p>
<p>「烈、烈赤？」</p>
<p>「是我。」</p>
<p>「你來幹嘛？」盧刺卡翻身要繼續睡。</p>
<p>「我父親，他不見了。」</p>
<p>如雷的打呼聲再次傳來，這次烈赤不客氣了，一巴掌打在盧刺卡臉上。</p>
<p>「誰、誰？」盧刺卡跳了老高，警戒地看著四周。</p>
<p>「是我，烈赤。」</p>
<p>「阿古拉不見了？」盧刺卡深深吐了一口氣。</p>
<p>「對，你知道他去哪了嗎？」</p>
<p>「唉，我喝醉了酒，都記不清……」盧刺卡猛抓著自己的頭，突然眼睛睜得老大。</p>
<p>「唉，我真是……。」</p>
<p>「哪裡？快說！」</p>
<p>「怕是去赭嶺了。」</p>
<p>「赭嶺？去那做什麼？那什麼都沒有啊。」</p>
<p>「那裡有一對金雕。」</p>
<p>烈赤瞬間就懂了，也不多說什麼，轉身貼著帳門向外窺探。</p>
<p>「我看見了，天葬隊伍每個人都看見了……」盧刺卡搖晃著身軀說道。</p>
<p>
  烈赤也不向盧刺卡道別，一出氈帳就彎腰走向營盤之外的草場。馬匹是草原人的重要財產，雖然是半野放的畜養，但總會有哨兵看守。然而夜哨只會特別看顧戰馬和種馬，不會注意像大老黃這種馱馬。雖然月光異常明亮，但烈赤躲在羊群裡前進，倒也沒有被夜哨發現。
</p>
<p>「大老黃，噓，噓。」烈赤發現大老黃不在平時睡覺的光禿沙地上。</p>
<p>烈赤又輕聲呼叫了好一陣子，卻沒有任何回音。這下烈赤確定父親真的去赭嶺了。</p>
<p>雖然父親極少提起，但從族人的冷嘲熱諷中，他也知道自己是鷹族人。鷹族不只最善馴鷹，更是最精通騎射的部族，人數不多卻十分強悍，不曾主動劫掠過其他部族，也不向任何部族低頭。</p>
<p>
  但烈赤出生沒幾年後，鷹族被勃拔喀部圍剿了，聽說全族老弱婦孺都寧死一戰，最後就連馴養的金雕也無一倖免，只有身為鷹族第一勇士的父親帶著烈赤投降，為了活下去，還將鷹族的製弓祕密洩漏給勃拔喀部。詭異的是當鷹族被滅後，草原上的鷹也跟著消失了。再也沒有人看過在天空盤旋的鷹，旱獺與足鼠得以大量繁殖，放牧的草場逐漸消失，草原上的衝突也因此越發頻繁。
</p>
<p>烈赤伸出手掌瞇眼觀察，繁星移動不過兩個掌距，自己睡得不算久。他觀察四周，看見有匹馬離得特別遠，正自顧自地吃草，他彎腰走去。馬兒見來者不是主人似乎有點驚訝，威嚇性地甩頭喘氣。</p>
<p>「噓。好馬兒，噓。」烈赤張開雙掌，表示沒有任何武器。</p>
<p>他慢慢走向前，緩緩地將手貼在馬脖子上，感受他的脈搏。脈搏非常快，烈赤動也不動。雙眼專注地看著馬兒。馬兒也看著烈赤，瞳孔迅速縮張著。最後馬兒首先動了，牠低下頭來，繼續吃草。</p>
<p>烈赤緩緩將額頭貼在馬背上。「好馬兒，我得去找我父親，你能幫我嗎？」</p>
<p>
  馬兒的耳朵動了動，烈赤拔起一把牧草，輕拍馬腿向前走去，引誘馬兒前進。馬兒似乎對搖晃的草很感興趣，跟著烈赤往外走去。距離夠遠後，他試著翻上馬背，但這匹是馱馬，身上沒有鞍具，他只能抓住馬鬃。烈赤不常騎馬，他只是納可兒，部族不允許他拉弓騎射，只有跟父親去蒐集箭材的時候，才能偶爾騎一下大老黃。
</p>
<p>
  烈赤深吸一口氣，抓住馬鬃硬是跳了上去，馬兒吃痛跑開，烈赤的腳都還沒翻過馬背就跌落在地。馬兒跑開了好一段距離，烈赤再次彎腰靠近，這次他雙手放在馬背上，猛地一跳翻過馬背，立刻將胸口貼在馬背上，雙腿夾緊馬腹。他動也不動，讓馬兒熟悉他的重量。最後他用腿推動馬肚，馬兒慢慢向前奔去。烈赤深吸一口氣後，用左腳和右手扣住馬背，讓身體掛在馬兒右側，以免被人看到。待營盤已經消失在身後之際，烈赤全身已被汗水浸濕，肌肉不斷發著抖，他想將自己翻上馬背，卻直接摔下馬，翻滾了好幾圈。
</p>
<p>「噓，噓。」烈赤嘗試呼喚馬兒，但馬兒卻越跑越遠，最後總算停了下來。</p>
<p>烈赤躺在地上好一會兒，勉強站起，邊走邊喘氣。這時候我能猜對魚骨的數量嗎？烈赤心想。但立刻用力搖頭。他走到馬兒旁邊，重新翻上馬背，這次熟練的多。</p>
<p>「好馬兒，走。」烈赤大喊，雙腿夾緊馬肚，馬兒立刻向前奔去。渾身是汗的烈赤被風吹著，絲毫不覺得冷，只覺得痛快無比。</p>
<p><br></p>
<p>久違的月光灑落在草原上，映得夜半結霜的草原一閃一閃的，如同天上的繁星。天地失去了邊界，向前奔馳的烈赤彷彿就像是飛向星空似的，令他感到心炫神迷。</p>
<p>
  馬兒已奔馳了好久，隱約可見汗氣在馬兒身上蒸騰。他伸出手，朝耀眼的星空比劃著，繁星又移動了快兩個掌距，卻遲遲不見赭嶺。周遭的草已經越來越稀疏，烈赤知道自己方向沒錯。他抓緊腰上粗糙的削弓刀，猜想等等會遇到什麼。這幾年的冬天，連狼都不好過，孤身一人的烈赤有可能被狼盯上。但烈赤不怕，只要找到父親，自己就安全了。如果赭嶺真的有鷹，那父親一定也在。
</p>
<p>
  打從烈赤有記憶以來，父親看天空總是多過於看自己。小時候，烈赤曾問過父親究竟在尋找什麼，父親低頭看烈赤，露出罕見的笑容，撥了撥烈赤的頭髮，繼續仰望天空。那可讓烈赤開心好幾天了，他很少看到父親的笑容，但烈赤長夠大後，懂得苦笑，才發現父親那不是笑。
</p>
<p>
  隨著烈赤長大，他也越來越少看見父親凝視天空了，偶一瞥見，總讓烈赤想起那隻部族獵到的大雁，看著天空不停拍著斷掉的翅膀，直到斷氣為止。想到這，烈赤才驚覺父親老了。昨天不是還有精神嗎？怎麼今日看到的父親頭髮已盡數斑白？切削箭身的手不是還很有力嗎？怎麼今日看到的那雙手已滿是皺紋？
</p>
<p>
  烈赤再次夾緊馬腹，希望馬兒能再快一點。但馬兒大力地邁出幾步後，再也跑不快了。往前望去，地上盡是難以著力的碎石，左側則是向上延伸的峭壁，馬兒的體力幾乎被耗光了。烈赤正心疼的輕拍馬背，此時竟聽見微微的金屬碰撞聲。烈赤立刻跳下馬兒，閉上眼睛仔細聆聽。
</p>
<p>鏗鏘！</p>
<p>烈赤發現聲音是由峭壁上傳來的，他轉身將額頭貼在馬兒的額頭上。</p>
<p>「馬兒啊，謝謝你。回去吧。」</p>
<p>烈赤用力一拍馬臀，馬兒立刻往回跑去。烈赤開始朝峭壁走去，坡度越走越陡，最後他必須手腳齊用，再來就是攀爬了。鏗鏘聲越來越清楚，烈赤不顧身體的痠痛，咬牙爬了上去。</p>
<p>
  烈赤越爬越高，風也不斷增強，勉強爬上了峭壁，頂端是一片不小的碎石地。雖然月光明亮，但這種距離下，烈赤僅能看見三個黑影纏鬥成一團，不時亮起刀鋒互碰的火花。烈赤勉強看得出來一個特別高大的人被另外兩個圍攻，他一刀架開砍過來的攻擊，往後退了一步，三人陷入對峙。
</p>
<p>
  烈赤身後就是懸崖，但他不敢爬上去，只敢探出頭偷看著。高大的黑影用刀子護住胸前，緩緩繞著另外兩個一胖一瘦的影子。他們的喘氣聲被風帶了過來，烈赤豎耳傾聽，卻想不到他們是誰。突然，烈赤注意到有人的呼吸聲消失了，就在他伸長脖子想聽清楚的瞬間，高大的黑影撲向前，由上而下攻向胖子，瘦子橫砍他的側盤，但高大的黑影瞬間低下身子，接著烈赤聽到碎石的碰撞聲，隨即而來是慘叫聲與身軀倒地的聲音。
</p>
<p>
  高大的黑影自黑暗中站起，胖子立刻向後逃去，卻被某種東西絆倒。烈赤瞇眼細看，發現那是第四個人，躺在地上動也不動，想必早已死去。獲勝的黑影將刀子丟到一旁，也不去追胖子。烈赤正覺得奇怪，卻被黑影的動作給驚得張大了嘴巴。那名高大的黑影伸長右手，然後往下甩了甩。
</p>
<p>「父……」烈赤立刻右手摀住嘴巴。</p>
<p>
  但那黑影立刻看向烈赤的方向，就在那瞬間，烈赤聽見殺豬般的慘叫。那胖子不知怎地倒在了地上，接著烈赤聽見箭矢破空的聲音。那一刻，烈赤幾乎無法呼吸，時間像是停止了似的，那高大的黑影先是身軀一震，再來雙膝著地，最後倒下。暗處走出另一個持弓的黑影，走向剛剛中箭倒地的人。烈赤緩緩將手伸向削弓刀，突然，巨大的影子自天俯衝而下，隨之而來的是氣勢如虹的鳴叫聲，持弓的黑影立刻被撲倒在地。那鳴叫聲深深劃破了黑夜，氣勢之驚人，烈赤只覺得是傳說中的金雕。
</p>
<p>
  金雕收起翅膀撲向還在掙扎的黑影，但那黑影突然膨脹數倍，金雕受驚立刻拍翅向後躲開。黑影站起，月光已無法再照耀出他的輪廓，取而代之的是不斷蠕動膨脹的黑色霧氣。金雕再次鳴叫，奮力拍翅飛起，連烈赤都能感受到氣旋撲來。金雕衝向黑影，對方也舉起弓來，箭矢的破空聲令烈赤全身一震，金雕發出痛苦的哀鳴摔落在地。烈赤拔出削弓刀，正想大吼一聲往前衝，就感到另一股強烈的氣旋自後方衝來，烈赤才剛轉頭，就看到另一隻巨大的金雕撲向他，巨大的利爪嵌進他的肩膀，奮力拍翅一提。力量之大，烈赤根本無法平衡，直直朝懸崖下墜去。
</p>
<p>明明應該是一眨眼的瞬間，但烈赤墜落了好久還未能著地。烈赤無法思考，他腦中只剩下那個轉頭看向自己的黑影，但那黑影竟倒下了，再也起不來了。他想靠近那黑影，但自己卻不斷往下墜去，永不停止。</p>
<p><br></p>
<p>烈赤醒來的時候，已是白天了。天空再次被厚重的灰雲覆蓋。他發現自己卡在峭壁的裂縫之中，身上滿是瘀青與挫傷。如果沒有這個裂縫，想必自己早已摔死。</p>
<p>
  烈赤嘗試移動四肢，發現自己骨頭沒有裂開，他不禁感謝長生天的幫助。他觀察四周，驚見裂縫之外的禿石上躺著一隻巨大的鷹，那隻鷹全身覆蓋著深褐色的羽毛，在太陽照耀下閃耀金色的光芒。這難道就是金雕？烈赤心想。但金雕的頭部卻彎向極不自然的角度，烈赤無法理解是誰殺了如此強壯而又美麗的生物，他正想爬出裂縫細看，才猛然想起昨晚看到的黑影。烈赤不顧身體的傷痛，硬是鑽出了裂縫。他抬頭往上看，發現自己跌落的並不深，他看了最後一眼金雕的屍體，開始向上爬去。
</p>
<p>
  身上的挫傷早已止血，但在攀爬的過程中不斷裂開，鮮血再次流出。烈赤絲毫不在意，他只想趕快確認那倒下的黑影究竟是不是父親。離頂端越近，烈赤心跳越快，身體與理智彷彿都在命令他停止動作。如果那真的是父親呢？烈赤遲疑了，左手抓住的凸石突然崩落，細小的碎石不斷撒向烈赤的臉上，他痛的睜不開眼，左手慌忙地四處亂抓，好不容易才找回平衡。休息好一陣子後，他抬頭繼續向上爬，卻聽到殺豬似的哭聲從上方傳來。他加快速度往上爬去，好不容易碰到頂端後，他將臉貼在峭壁上，閉上眼睛向長生天祈禱，希望昨天看到的是錯覺。但再次傳來的哭聲打斷了他，他不願再多想，睜開了眼睛。
</p>
<p>他首先看到岱欽揮手，正在下達指令，再來是跪在地上的札納，對著烏能根的屍體發出殺豬似的哭聲，但那一切都不重要了。整個世界彷彿在嗡嗡叫著，烈赤猛力將自己撐上峭壁，跛腳向前奔去。他父親就倒在岱欽的腳旁，胸口插著一支箭矢。</p>
<p>「那裡有人！」在附近搜索的族人大喊，舉弓瞄準烈赤。</p>
<p>
  烈赤不理會那些人，他只想衝到父親旁邊，說不定他還活著，說不定他只是躺下休……，突然整個世界旋轉了起來，接著烈赤發現自己重重摔到地上。岱欽那一拳絲毫沒有憐憫，直接讓烈赤飛了出去。札納抬頭，滿臉又是鼻涕又是淚水，他瞪視跌落在地的烈赤，大吼一聲衝了出去。他一腳踹向烈赤，又將巨大的身軀壓在烈赤的胸口上，害烈赤吐出滿口酸水。
</p>
<p>「你跟阿古拉殺了我父親！」札納一拳又一拳揮向烈赤的頭，近乎瘋狂。</p>
<p>
  烈赤倒在地上，被打的頭昏腦脹，口噴血沫，卻絲毫不覺得疼痛。烈赤只想看看父親，但一抬頭，就被札納的拳頭打回去。岱欽拍拍札納的肩膀，札納總算停止揮拳，他的臉扭曲成一團，上面滿是淚水與鼻涕。他抬頭看了看岱欽，站了起來。烈赤無力地呻吟，嘴角不斷流出鮮血。
</p>
<p>呸！札納居高而下，吐了一口黏膩的口水到烈赤臉上。他怨恨歹毒的眼神彷彿現在就想殺了烈赤。</p>
<p>「你怎麼會在這裡？」岱欽冷冷問道。</p>
<p>「一定是他跟阿古拉。他們箭贏不了我父親，就殺了我父親。」札納大吼。</p>
<p>「我、我父親……」烈赤幾乎無法動彈，但仍拼命抬頭想看看父親。</p>
<p>「在問你話！」札納一腿踢向烈赤的肚子。</p>
<p>「不……，還有其他人……」</p>
<p>「大聲！」札納蹲了下來，用力甩了烈赤一耳光。</p>
<p>「還有別……」」</p>
<p>「狗雜種！」岱欽一腳狠狠踢向烈赤的頭，直接將烈赤踢昏了過去。</p>
<p>「把阿古拉的屍體留在這裡餵狼，把這狗雜種和金雕屍體帶回去。」岱欽轉身大喊。「快，明天就是那達慕，誰慢了就受罰。」</p>
<p>
  岱欽拍了拍札納的肩膀，將他推向烏能根的屍體。札納一見父親的屍體，又發出殺豬似的哀號聲。岱欽走向阿古拉的屍體，撫摸上面的箭羽，皺緊了雙眉。接著他拔刀一揮，箭矢應聲斷成兩截，岱欽將箭羽那端撿起，放進皮大衣裡。他看著阿古拉的臉，又看著摔落在阿古拉旁的金雕屍體，臉上滿是輕蔑。最後岱欽冷冷一笑，轉身走向被綁在馬背上的烈赤，他伸指輕觸烈赤的脖子，確定還有脈搏後，伸手隨意一揮。眾人立刻跳上馬背，等著岱欽下一步指令。岱欽走向自己的高大騸馬，熟練地翻上馬背，朝營盤奔馳而去。灰雲密佈的天空在他眼前展開，雲層似乎比過去幾天還要深厚。他摸了摸皮大衣裡的箭羽，眉頭深深皺了起來。
</p>
<p><br></p>
<p>
  黑暗中，半昏半醒的烈赤不斷聞到熟悉的屎尿味，這出乎意料地給了他一點安全感。最後是飢餓使烈赤醒了過來，所有的疼痛也在那一瞬間全數襲捲而來。烈赤想伸手確認傷勢，卻發現自己被綁住動彈不得。左眼已經看不太到東西了，視野一片模糊。烈赤想乾脆就這麼繼續昏下去，但身體的痛苦卻令他的意識越發清晰。
</p>
<p>腳步聲自遠處傳來，他勉強能用眼角看到一雙腿走到自己面前，他想抬頭卻連一點力氣也沒有。他眨眨眼，想看得更清楚一點，但撕心裂肺的疼痛傳來，痛的他倒抽一口氣。</p>
<p>「你眼睛腫得比夏天的旱獺還肥，別再動了。」</p>
<p>烈赤聽得出來那是盧刺卡，他想說些什麼，嘴巴動了動，卻只傳出輕微的喃喃聲。</p>
<p>「也別說話啦。喏。」盧刺卡拿出一袋馬奶，倒在一塊布團中，再將布團靠在烈赤的嘴唇上。</p>
<p>
  烈赤先是伸出舌頭舔了舔，接著就是用力吸吮，嘴唇與口內的傷口令他痛苦萬分，但他卻甘之如飴。很快地，布團的馬奶被吸的一滴不剩。盧刺卡正要倒更多馬奶倒布團上，烈赤卻搖了搖頭，然後顫抖地把頭微微抬起，張開嘴巴。盧刺卡會意，立刻將袋子靠在烈赤嘴邊，慢慢地將馬奶倒進烈赤嘴裡。烈赤不斷吸吮馬奶，就算鼻子被嗆到，嘴唇也一樣貪婪地動著。盧刺卡不免微笑。他知道，他老友的兒子暫時死不了。
</p>
<p>「就這麼多了，再多你身體就真的要壞啦，剩下都我這老頭子的啦。」盧刺卡將馬奶袋移開。</p>
<p>「小子，你這傷口都不算什麼，沒幾天就好了。聽我這老頭子的話，先別亂來。」</p>
<p>烈赤搖了搖頭，發出一陣痛苦的呻吟聲。</p>
<p>「小子……」</p>
<p>碰！烈赤突然將頭用力抬起，撞向後方綁住他的木樁。</p>
<p>「嘿，小子，你……」盧刺卡睜大雙眼。</p>
<p>蹦！這次更加用力。盧刺卡注意到他眼角有某種東西閃了閃。這下盧刺卡懂了，不禁嘆了一口氣。</p>
<p>「小子，這裡這麼暗，黑的跟羊糞沒兩樣，我可是什麼都看不到。」</p>
<p>烈赤總算停了下來，在黑暗中抽著鼻子，顫抖地喘氣。</p>
<p>「先活下來。聽老頭子的話，草原可不像天空這麼大。」</p>
<p>烈赤鼻子噴了口氣，將頭轉向一旁，氣息間的抖動不增反減。盧刺卡隱約看到更多的淚從烈赤臉頰滑下在黑暗中微微閃光，心中更是無奈。他思考要講些什麼來轉移烈赤的注意力時，一陣沉重的奔跑聲自黑暗中傳來，而且越來越大聲。</p>
<p>碰！盧刺卡被一個高大的黑影撞開，手中的馬奶掉到了地上，灑得滿地都是。</p>
<p>「你現在就得死，黑耳獺。」札納惡狠狠地瞪著烈赤，抓住烈赤的頭往木樁撞去。</p>
<p>「札納，你幹什麼？大汗都還沒開口，你憑什麼動手？」盧刺卡衝向前，抓住札納的手臂。</p>
<p>「滾開，你給他食物，你也得死。」札納將盧刺卡推開。</p>
<p>「唉哦，痛痛痛！」盧刺卡禁不起他這麼一推，重重摔倒了地上。</p>
<p>盧刺卡吃痛，邊爬邊喃喃自語，然後朝黑暗中跑去，一下子不見了。</p>
<p>「你們的箭贏不了，就埋伏我父親，是吧？」札納抓著烈赤的頭髮，在他耳朵旁問道。</p>
<p>烈赤的頭被拉的高高的，幾乎無法呼吸。</p>
<p>「說話！」札納大吼。</p>
<p>「……」</p>
<p>「狗雜種！」札納放開烈赤，朝烈赤腹部踢了一腿。</p>
<p>
  烈赤剛喝下的馬奶頓時從他的鼻孔和嘴裡噴出，他不斷咳嗽，每咳一次，就是撕心般的劇痛。札納紅了眼，又是踢腿，又是拳頭地往烈赤身上招呼過去。但烈赤幾乎感覺不到疼痛，甚至感謝札納的到來。劇痛與怒火將悲傷驅逐得一乾二淨，他品嘗疼痛，並要自己牢牢記住每一刻，越是痛苦，他越要活下去。烈赤慢慢抬頭瞪視札納。札納又揮了好幾拳，才發現烈赤看著自己，不，札納瞇了眼細看，那是……瞪著自己。札納傻了眼，大吼一聲又揮出一拳，但拳頭猛地停在半空中。札納感到手臂被抓住，來人強而有力，他立刻用手肘向後頂去，但那人緊抓札納的手向背後折去。札納大叫一聲，無法再移動分毫。
</p>
<p>「札納，大汗命令你來取走他的性命？」來人說話充滿威嚴，有著令人無法抗拒的氣勢。</p>
<p>「巴、巴特爾？我只是來檢查他有沒有要逃走而已。」</p>
<p>「我相信你，那麼現在罪人有可能逃走嗎？」</p>
<p>「沒、沒有。」</p>
<p>「那麼我代替部族謝謝你。現在回去吧，明天就是那達慕了。」巴特爾鬆手，札納立刻退到一旁甩著手臂，怒目瞪向躲在巴特爾後方的盧刺卡。</p>
<p>「部族的罪人，你是否與阿古拉密謀，殺了烏能根？」巴特爾問道。</p>
<p>烈赤張開嘴巴，看著巴特爾，卻只發出斷斷續續的呻吟聲，最後他使盡全力搖頭。</p>
<p>「那麼參加那達慕吧，讓長生天證明你的清白。」巴特爾欣賞烈赤不服輸的眼神。</p>
<p>「札納，由你來決定罪人用什麼技藝來向長生天證明吧，摔角還是射箭？」</p>
<p>「摔角。」札納不加思索地答道，露出勝利的賊笑。</p>
<p>「罪人，你接受嗎？」</p>
<p>烈赤點了點頭。</p>
<p>「岱欽？」巴特爾朝暗處看去，</p>
<p>札納吃驚地往巴特爾視線望去，果然黑暗中有個高大的身影，那身影點了點頭，一聲不響地離去。</p>
<p>「盧刺卡，替罪人處理好傷口，明天他要用力量證明自己的清白。」巴特爾頓了頓。「札納，接下來你會待在氈帳裡好好休息，對吧？」</p>
<p>「是。」札納點頭。</p>
<p>巴特爾對著烈赤點了點頭，轉身離去。札納狠狠瞪了烈赤一眼也走了。</p>
<p>「巴特爾可真是越來越有氣勢了啊？」盧刺卡趕緊跑向烈赤。</p>
<p>盧刺卡瞇著老眼解開烈赤身上的繩索，烈赤沒有回應，頭垂得低低的一動不動。盧刺卡緊張地將手指放到烈赤的脖子上，心中一顆大石才落下。脈搏雖然很微弱，卻不服輸地鼓動著。</p>
<p>「可憐的種啊。」盧刺卡將繩子丟在一旁，用肩膀撐起烈赤，蹣跚地走向氈帳。</p>
<p><br></p>
<p>
  回到氈帳後，盧刺卡將烈赤的衣服脫掉檢查傷勢。烈赤身上滿是大片大片的瘀傷，冷冽的空氣使其呈現駭人的青黑色。滿是補釘的皮大衣為烈赤吸收了不少力道，至少四肢骨頭沒有裂開。盧刺卡看到烈赤凸出的右腹，不禁皺了眉頭，他摸到到變形處時，昏迷的烈赤發出一陣呻吟，但盧刺卡不動於衷，繼續檢查。
</p>
<p>「斷兩根呀，小子？」</p>
<p>
  盧刺卡喃喃自語，拿出一塊凍得硬梆梆的羊油用雙手摩擦，然後塗抹在烈赤的瘀傷上。塗完後，盧刺卡手上的羊油也幾乎化光了。他舔了舔雙手，看著烈赤變形的右腹部，不禁嘆了口氣。骨頭斷掉只要當下沒死，通常都可以復原。雖然痛不欲生，但對戰士來說算不了什麼，草原上甚至有骨頭癒合後會更強壯的說法。但這小子可沒什麼時間，天亮他就得參加那達慕。摔角可不能穿著皮大衣，而是裸露著前胸後背，用力量與巧勁制服對手的技藝，而誰都知道，札納穩拿摔角第一。
</p>
<p>盧刺卡將烈赤衣服穿好，用皮毯緊緊裹住。然後拿出一大塊乾奶，丟進皮水囊裡，用刀柄隔著皮囊敲碎，然後他拿起皮囊跟一袋馬奶酒走出氈帳，朝草場走去。四周一片黑暗，盧刺卡故意打了個大大的哈欠。</p>
<p>「那誰，幹什麼？」夜哨在黑暗中喊道。</p>
<p>「是我，盧刺卡。」</p>
<p>「半夜出來幹什麼？」</p>
<p>「掛點奶酪喝，明天就那達慕啦！」</p>
<p>「臭老頭，給我滾回氈帳去。」</p>
<p>「欸，天這麼冷，來口吧？」盧刺卡喝了一口馬奶酒，將酒囊拋給夜哨。「掛好我就回來啦。」</p>
<p>「呿，老醉鬼。」夜哨接起酒囊，仰頭就是一大口。</p>
<p>盧刺卡朝馬群走去，喚來了自己的馬兒，將混了乾奶的水囊掛在馬背上，再使力朝馬臀一拍，馬兒立刻跑回馬群裡。離天亮還有好一段時間，水囊靠著馬兒的體溫和身體晃動，到了早上，烈赤就有溫熱的軟酪可吃，不用幾口就能有精神。</p>
<p>「你說，明天摔跤誰贏？」盧刺卡走回夜哨旁。</p>
<p>「不是札納是誰？」夜哨答道。</p>
<p>「幾年前還是個小矮子，誰知道都吃些什麼？」</p>
<p>「問烏能根吧。」</p>
<p>「都被阿古拉殺了，問什麼？」盧刺卡側了側身。「聽說是在赭嶺？」</p>
<p>「你這老頭子，問這做什麼？」夜哨皺眉。</p>
<p>「就是老頭子才問，每天幫你們修馬鞍、修車軸，悶到都快死啦。」</p>
<p>「聽說是要搶金雕吧，要做什麼鷹翎箭的。」夜哨喝了一口馬奶酒。「那都是屁，能射穿腦袋的箭才是真的箭，管他什麼做的。」</p>
<p>「他們真的有看到金雕嗎？」</p>
<p>「屍體都帶回來了，跟狼差不多大，你信嗎？」</p>
<p>「哼，夠怪了，塔陽莫名其妙死了，馬上又死了兩個人，現在連金雕都跑出來了。」</p>
<p>「老頭子，管好你的嘴。」夜哨將酒囊丟給盧刺卡。</p>
<p>「好好好，老頭子就是閉嘴修東西。」盧刺卡拿了酒囊，走沒幾步又停下。「對啦，金雕屍體在哪？老頭子可得看看呀。」</p>
<p>夜哨翻了翻白眼。「在塔陽薩滿的氈帳裡，去看，被我抓到剛好可以砍死你。」</p>
<p>「等你啦，哈。」盧刺卡轉身，搖搖晃晃離去，臉上滿是愁容。</p>
<p><br></p>
<p>
  天快亮了，盧刺卡躺在烈赤旁邊幾乎沒睡著，卻意外地有精神。烈赤還沒醒來，但呼吸已穩定許多，這令盧刺卡感到心安。他輕輕站起，離開氈帳跑向營盤的另一端。一大早而已，族人全走出了氈帳忙碌。納達慕是部族一年一度的盛事，族人們聚在一起，比試賽馬、摔跤與射箭。獲勝者可以獲得大汗的賞賜，武器、皮甲到牲畜都有，更重要的是族人們的敬佩與地位。那達慕通常在夏天舉行，但塔陽薩滿驟逝，據說重重打擊了大汗努桑哈，因此他決定在天葬之後舉辦那達慕。藉此頌揚塔陽薩滿的品德與睿智，讓他回歸天上的路程中不孤單。
</p>
<p>
  盧刺卡跑向草場，喚來自己的馬兒，他拿起水囊，摸了摸囊底，乾奶都已經化了開來。盧刺卡趕緊將水囊塞進皮大衣裡保暖，他看向營盤，發現場地已經聚集了不少人。回到氈帳時，烈赤正發出微弱的呻吟聲，不斷掙扎。他跑向前，仔細一看，發現烈赤雙眼還是閉上的。夢到什麼啦？盧刺卡心想。眼看烈赤動作越來越大，盧刺卡不得不將烈赤搖醒。烈赤醒來後，雙眼睜得老大，看到了盧刺卡，便想撐起自己往後退，但立刻發出痛苦的吸氣聲。
</p>
<p>「小子，別動。」盧刺卡將軟酪遞給烈赤。「你肚子骨頭斷了，再動，痛都痛死你。」</p>
<p>「現在……，什麼時候了？」烈赤道。</p>
<p>「喝點。」盧刺卡晃了晃軟酪袋。</p>
<p>烈赤接了過來，慢慢仰頭喝下。在寒冷的冬天大口喝下溫軟酪，是草原人的一大享受。但現在烈赤只能小口喝，而每一口都像是吞下千根魚骨似的刺痛。</p>
<p>「天剛亮，大家吃飽後就要開始了。」</p>
<p>烈赤點了點頭，雙眼空洞地盯著軟酪袋，彷彿脫離了這個世界。氈帳陷入沉默，沒多久，盧刺卡就難受地東張西望，亂抓身體。他最怕的就是這種沒人要說話的狀況，這小子跟阿古拉根本沒兩樣。鷹族人都這樣嗎？盧刺卡心想。</p>
<p>「小子，想要什麼就說，我去繞繞。」盧刺卡起身。</p>
<p>「我父親，有說去赭嶺做什麼嗎？」烈赤依舊盯著軟酪袋。</p>
<p>「阿古……，你父親倒沒說些什麼。」盧刺卡看著烈赤。「我的錯，老頭子的錯。我喝上幾口就會亂說話。」他用力踱很是氣惱。</p>
<p>「兩隻都死了，一隻被箭射死，一隻頭都撞裂了。」</p>
<p>「金雕？」盧刺卡一腳懸在半空，眉毛翹的老高。</p>
<p>烈赤沒有回應。</p>
<p>「小子，以前還有鷹在飛的時候。」盧刺卡一屁股坐下。「我聽過，鷹不像人，有一個人幫你暖床，還要有第二個。鷹啊，一遇到了，到死就那一個。」</p>
<p>烈赤抬起了頭，溫奶酪讓他的臉稍微紅潤了點。盧刺卡假裝沒看到，手舞足蹈地繼續說。</p>
<p>「如果有一隻死了，另一隻受不了，就會想辦法殺死自己，我還沒想過是真的。」</p>
<p>烈赤眼默默啜了一口溫奶酪，雙眼顯得無神。</p>
<p>「小子，長生天知道你是清白的，但我還是要說，札納這人沒什麼耐心。摔跤的時候，就別跟著衝了，先躲著吧，嗯？」</p>
<p>「那把銼刀給我。」烈赤盯著桌上的工具。</p>
<p>「小子，要做什麼？」盧刺卡問道。</p>
<p>「不只我父親跟札爸。」烈赤抬頭看盧刺卡。「還有另外兩個人。」</p>
<p>盧刺卡不只被烈赤的言語嚇到，更被他那充滿恨意的雙眼震懾住了。這不應該是年輕人該有的眼神，盧刺卡心想。</p>
<p>「小子……」</p>
<p>「先札納，再來岱欽，殺一個是一個。」烈赤淡淡地說。「我早就知道長生天的旨意了。兩隻金雕才剛出現就死光，鷹族又剩我一個，還能是什麼意思？」</p>
<p>「烈赤，如果真的有另外兩個人，那就告訴巴特爾跟大汗，他會……」</p>
<p>「我今天就會死，勃拔喀部也沒人會聽。烏能根埋伏我父親，我就殺了他兒子報仇。岱欽的話……，哼。」烈赤冷笑，伸手就要去拿銼刀。</p>
<p>不發一語的盧刺卡，突然抓住烈赤的手。烈赤惡狠狠地瞪向盧刺卡，大吼一聲甩開握住他的手，力道大的驚人。盧刺卡知道烈赤是要拼命了，從腰帶上掏出一把做工精緻的小刀，將刀鞘甩開，舉刀指向烈赤。</p>
<p>「小子，巴特爾說的話，你、我、札納和岱欽都聽到了，那這就是部族裡的規矩了。你如果打贏了札納，那就是長生天證明了你是清白的，你就可以活下去。」</p>
<p>烈赤大笑，笑得鼻孔噴出血沫仍在繼續笑。</p>
<p>「答應老頭子，先上場，要輸了再拔刀吧。殺一個是一個，嗯？」盧刺卡刀子一轉，將刀柄伸向烈赤。</p>
<p>
  烈赤點頭伸手接過，也不入鞘，直接塞進衣服裡藏起來。他舔了舔鼻下的血沫，拿起奶酪袋，仰頭和著血大口吞下。氈帳裡再次陷入沉默，空氣充滿烈赤血液的鐵銹味。草原上的人相信，人的靈魂存在於血液之中，死前若能不流血，則能保全其靈魂。盧刺卡不願去想那達慕的結局會是什麼，但若烈赤非死不可，他會向大汗努桑哈求情，讓烈赤不流血死去，這是他唯一能為阿古拉做的事了。
</p>
<p>「那時候很暗，但我看見我父親一個人打敗兩個人，他真是鷹族第一勇士……」烈赤慢慢地說，嘴角微揚。</p>
<p>「你們鷹族啊，人明明也沒多少，但就沒人可以搶得了你們。」盧刺卡搖頭笑著。</p>
<p>「多說說吧，我父親從來不提。」</p>
<p>「聽說鷹族養出來的馬是全草原上最好的戰馬，主人死了也會把屍體帶回部族。箭也是最好的箭，更不用說百發百中的鷹翎箭。」</p>
<p>「父親說沒那種箭。」</p>
<p>「誰知道呢？被射中的人應該也都死了吧？」盧刺卡眨眨眼。「更不用說馴鷹了，聽說一人一鷹出去一趟，獵物就可以養活好幾家人。」</p>
<p>烈赤想著夜裡看到的巨大金雕，實在無法想像如何馴服如此兇悍的猛禽。那隻金雕撲向那黑影的時候……</p>
<p>「盧刺卡，那時候很暗，我只看到一個黑影一箭……射向我父親。」烈赤閉上眼睛。「後來一隻金雕衝出來撲倒那個黑影，結果那黑影突然變得很巨大，身邊都是一種黑色的煙……。」</p>
<p>「煙？」盧刺卡皺眉。</p>
<p>「就像……」</p>
<p>「嗯？」</p>
<p>「當我看錯了吧。」烈赤嘆了口氣。</p>
<p>「就像燒乾羊糞的煙，但風吹不散，反而聚集起來，像蛆一樣蠕動？」</p>
<p>烈赤看著盧刺卡，雙眼睜的老大。</p>
<p>「哈！」盧刺卡大笑，笑得眼淚都流了出來。「小子，來口馬奶酒吧？」盧刺卡跳起來，兩三下就從氈帳裡摸出一袋馬奶酒。</p>
<p>「啊，長生天的恩賜啊。」他灌了一大口，將酒袋遞給烈赤。「好日子？」</p>
<p>烈赤抬高眉毛，疑惑地凝視盧刺卡，最後他搖頭苦笑。</p>
<p>「好日子。」他搶過酒袋就是一口，但立刻嗆了出來。</p>
<p>
  烈赤不常喝馬奶酒，只有冬天要和父親去蒐集箭材時，父親才會給他喝個幾口禦寒。馬奶酒嗆得他不斷咳嗽，全身痛得要命，但他卻覺得無比暢快。馬奶酒的效果沒多久就浮現了，烈赤覺得輕飄飄的，身體彷彿也沒這麼痛了。氈帳再次沉默，烈赤聽得到氈帳外馬兒的嘶鳴聲與人的吶喊，但他卻覺得好遙遠。烈赤閉上眼睛享受沉默，或許真的像盧刺卡說的，今天是個好日子。他慢慢喝著馬奶酒，感受著溫熱的液體不斷流進體內。
</p>
<p>「再多說說鷹族吧？」烈赤臉頰紅通通的。</p>
<p>「都是聽來的，有什麼好說？」</p>
<p>烈赤沉默了好一會兒，彷彿在思考什麼。「為什麼勃拔喀部要圍剿鷹族？」</p>
<p>盧刺卡低頭不語。</p>
<p>「今天我就要死了，有什麼不能說的？」</p>
<p>盧刺卡看著烈赤，嘆了口氣。「我不知道為什麼要攻擊鷹族，那時候我也才剛被俘虜……」</p>
<p>「是努桑哈下的決定吧？」烈赤再度閉上雙眼。「等等有的是機會，我自己問他。」</p>
<p>「不。」盧刺卡緩緩說道，「是塔陽薩滿下的指示，但那……」</p>
<p>烈赤心頭一震，怎麼可能是塔陽薩滿？正要發問，帳門突然被大力掀開了。</p>
<p>「罪人，那達慕開始了。巴特爾要我押你過去。」一名全副武裝的宿衛持刀大喊。</p>
<p>
  烈赤瞪視宿衛，強迫自己擺出冷漠的表情，他側身準備站起來，盧刺卡立刻伸手向前。但烈赤推開盧刺卡，然後雙手著地慢慢將自己撐起來。在大量馬奶酒的影響下，右腹斷骨並沒有帶來劇痛。好不容易站穩，烈赤慢慢走向前，看也不看宿衛，逕自走向氈帳外，手隔著衣服撫摸盧刺卡的小刀。
</p>
<p>盧刺卡看烈赤離去，心中很是難受。一起身便想追上去，但久坐後血液的衝擊令他感到暈眩。陽光灑進氈帳裡，盧刺卡不禁伸手遮擋，朦朧之中，盧刺卡望向離去的烈赤，彷彿就像看見阿古拉一樣。</p>
<p>老朋友，你們鷹族總是一個樣嗎？盧刺卡心想。</p>
<p><br></p>
<p>
  天空依舊灰濛濛的，佈滿灰色厚雲。草場上早已擠滿人潮，要塞馬的人忙著檢查鞍具上的繩結，比射箭的人忙著保養愛弓、檢查箭簇與箭羽，而要摔角的人呢？早已和其他人扭在一起暖身子了。其他前來觀看的部族也聚集在一旁，有的忙著打探勃拔喀部的實力，有的站在載滿貨物的馬兒旁，準備開始交易。雖然勃拔喀部不像札答蘭部或克烈部那麼壯大，但近年來迅速發展，使弱小的部族不得不對其打好關係，而強大的部族則想與其交盟。各族的使者穿著裝飾繁複的長袍站在一起，彼此卻不交流，連眼神也不接觸，安靜地等待。
</p>
<p>
  大汗努桑哈站在人群中間，環視著眾人。他個子不高，穿著上好的貂皮長袍，腰間繫著一把長刀。他頭髮幾乎斑白，綁著辮子垂掛在兩側。滿是皺紋的臉上帶著無比驕傲的神情。而高大的巴特爾身穿厚實的牛皮鎧甲，一手放在背後，一手握著刀柄，威風凜凜地站在努桑哈旁邊，或許沒見識的外人會以為他才是大汗。
</p>
<p>「乞顏部呢？」努桑哈輕聲問巴特爾。</p>
<p>「父親，他們失約了。連翁吉剌部都到了，他們沒理由沒到。」</p>
<p>努桑哈罕見地露出疲態，他輕輕點了點頭，深深吸了一口氣。</p>
<p>「札答蘭部、泰赤烏部、翁吉剌部、塔塔兒部、合答斤部、撒勒只兀部的使者們，你們大汗對塔陽的致敬，對我族意義重大。你們將可享用我族的粗鹽、鮮肉與馬奶。」</p>
<p>勃拔喀客族人紛紛看向這些使者，他們各個挺直身軀，朝努桑哈點頭。草原上各部族的紛爭永不停歇，除了私人恩怨，更多是為了水草。一旦水草不足，再堅強的盟友也會在瞬間拔刀相向，因此勃拔喀部的族人們多是冷眼打量這些使者。</p>
<p>「冬天一年比一年寒冷，水草一年比一年稀少。這是長生天的考驗，因為這個草原上，只有強者才能奔馳。」努桑哈環視眾人。「看看我們，刀在腰上，弓在背上，上了馬就能到想去的地方，拔了刀水草就是我們的。」</p>
<p>勃拔喀部的人們爆出一陣歡呼與吶喊，氣勢頗為驚人，但被收編為勃拔喀部的戰俘們，僅站在人群之外，默默看著努桑哈，雙眼間滿是疲倦了的無奈。</p>
<p>「我們每個冬天都能活下來，牲畜越來越多，除了勇猛的戰士外。」努桑哈看了看岱欽。「也是因為塔陽能與長生天對話，向我們傳達了長生天的旨意。他的咒語，讓勃拔喀部勇往直前，他的祝福，讓勃拔喀部壯大。」</p>
<p>勃拔喀部人民再次歡呼，受過訓練的戰馬處變不驚，但遠處啃草的羊群們則嚇得四處奔逃。努桑哈停頓了一下，享受充滿生命力的吵雜聲。</p>
<p>「但塔陽有更重要的使命，所以長生天將他召回天上。我們不可違背長生天的旨意，但塔陽是勃拔喀部重要的一員。我們舉行那達慕，為的就是頌揚塔陽的品德。我們將用力量、戰鬥與血汗來讚美塔陽的功績。」</p>
<p>努桑哈雙頰暗紅，額頭上掛著點點虛汗，他看著人群，胸口不停的起伏著。巴特爾見狀，便走向前去，人群立刻安靜了下來。</p>
<p>「射箭、摔跤與賽馬的獲勝者，皆可得一把長刀，三匹戰馬，三十隻羊，一套牛皮鎧甲。其他部族的友人們，我們邀請你參加晚宴，吃不完的肉，喝不完的馬奶酒任你們享用。我們將敘說塔陽薩滿的故事，說上三天三夜！」</p>
<p>那達慕就在眾人的歡呼中開始了，將一切看在眼裡的烈赤再次為自己與父親的渺小感到驚訝。明明自己的世界毀滅了，為什麼別人的世界絲毫不受影響呢？烈赤無聲地質疑。</p>
<p>
  恨意再次襲來，烈赤冷冷地看著眾人，握緊暗藏的小刀。一旁的宿衛持刀押住烈赤等待命令。其他部族的使者輪番走向努桑哈與巴特爾，傳達受命帶來的訊息，多半是與勃拔喀部聯姻的邀約。巴特爾在草原上已闖出一番名號，流傳的多半是高大英俊、戰士三藝均精通的說法，但讓各部族垂涎的則是勃拔喀部日漸壯大的力量。誰若能與其聯姻，就更能鞏固自己在草原上的地位。
</p>
<p>人群中有個特別高大的身影走了過來，烈赤遠遠就知道那是岱欽。被他踹了一腳的頭還在隱隱作痛，他努力不露出任何表情，冷眼瞪視岱欽。</p>
<p>「等札納拿下第一名，就將他丟上場。」岱欽看也不看烈赤。</p>
<p>「是。」宿衛大聲回答。</p>
<p>岱欽轉頭就走，烈赤壓住拔刀的衝動，但他知道這是送死，或許還有機會……。烈赤對自己的坦然感到驚訝，或許接受將死的事實後，再也沒有什麼值得害怕的了。只有有件事情他一定要問清楚，為什麼是塔陽？</p>
<p>
  部族的長者已經將摔跤手配對好了。草原上的摔跤不分體型重量，一跤決勝負。因此摔跤手體型差距可大可小，但草原人並不在意，摔跤更重要的是技巧，而非體型。摔跤手們裸露上身，揮舞雙臂跳舞進場朝努桑哈行禮，接著繞著對手旋轉一圈，握手表達敬意後，長者一發令，摔跤手們便扭在一起。
</p>
<p>
  喀拉！才剛開始不久，烈赤就聽到類似骨頭斷掉的聲音，接著便是慘叫聲。他看見札納手抓著另一名摔跤手的手腕，膝蓋壓在他的肩膀上，沒有移動餘地的鎖骨已被壓斷，那名摔跤手痛苦地掙扎，眾人紛紛發出驚呼聲。慘叫雖然大聲但卻短暫，慘敗的摔跤手用力咬住牙齒，不讓自己喊出來。來自其他部族的使者紛紛投出肯定的目光，向努桑哈恭賀擁有如此兇猛的勇士。一直等到長者發出警告，札納才肯停手。他站起來環視其他摔跤手，最後對烈赤露出冷笑。但烈赤依舊面無表情，如果父親還活著，他應該會站在角落，用眼神要求他不准失敗，這讓他感到一絲安全感。烈赤苦笑，閉上眼睛。
</p>
<p>
  札納拿到第一名是遲早的事情，而自己死亡也是遲早的事情。在這有限的時間裡，他寧願眼前是一片黑暗，也不要是這群陌生人們。馬奶酒還在烈赤血液裡流竄，閉上眼睛後，周遭的聲音似乎離他越來越遠，彷彿自己離開了這個世界。這就是馬奶酒的力量嗎？烈赤似乎理解為什麼盧刺卡每天都沉浸在馬奶酒中了。人群的驚呼與叫好聲不斷響起，但烈赤幾乎聽不到，現在他的思緒被盧刺卡的話占滿了。是長生天的旨意？還是骨占的結果？為什麼塔陽薩滿要指示勃拔喀部攻擊鷹族？
</p>
<p>
  有人說塔陽年輕的時候，是一名比誰都要兇悍的勇士。當時勃拔喀部僅是一支無名的游牧隊伍，只配享用其他部族不屑的水草與獵場。然而，當族人快餓死時，由他率領的劫掠隊伍總能奪得滿滿的戰利品。在某次劫掠中，塔陽說他聽到了長生天的聲音，從風裡傳來，從青草搖曳聲中傳來，從刀鋒互碰的火花裡傳來。從那天起，他丟下刀弓，跳下馬背，轉而向部族裡的薩滿學習。從那之後，不知從何處來的白色海青成為了塔陽的象徵，不知不覺地他少了肅殺之氣，多了歲月的刻痕。烈赤怎樣都想不透，沉默卻慈祥的塔陽是下令攻擊鷹族的人。是他還在馬背上揮舞長刀的時候，還是坐在氈帳裡搖晃著札達石的時候？烈赤下定決心要在摔跤中活下來，如此他才能親口問努桑哈。
</p>
<p>
  人群的吵雜聲突然停止，風聲取而代之。他好奇地睜開眼睛，但陽光卻明亮地害他眼睛發眩，不得不伸手遮擋，引來身體一陣疼痛，好一會兒他才驚覺發生什麼事。原來雲層竟不知何時消失了，天空是一片純潔的藍色，一望無際，比草原還要遼闊。眾人疑惑地看向天空，不發一語，彷彿灰色厚雲才是正常的。重物撞擊地面的聲音打破了沉默，人們的注意力重新回到了摔跤上。
</p>
<p>「摔角第一勇士，札納。」長者抓札納的手，向天空高舉。</p>
<p>人們開始歡呼，但仍有不少人仍望著天空，議論紛紛。這令札納感到不快，但今天他的目標不是族人的關注。</p>
<p>「各位，札納已是第一流的戰士，也是受長生天祝福的勇士。他替族人帶回來的獵物比誰都多，劫掠時也是最勇敢的前鋒。」岱欽一邊宣布一邊環視眾人。「他將加入宿衛，與我一起用生命保護大汗，為大汗揮舞刀刃。」</p>
<p>
  努桑哈點頭，顯然早已知道岱欽的安排。他走向前，將配刀解下交給岱欽。札納立刻下跪，伸手接過佩刀，正式成為大汗宿衛隊的一員。努桑哈看了看無雲的天空，眉頭緊鎖，轉身便要離開，但巴特爾在努桑哈耳邊細語，這下努桑哈的眉頭鎖得更緊了。他點點頭看向岱欽。岱欽立刻朝烈赤身旁的宿衛揮手，烈赤立刻被拉起來。痛楚讓烈倒抽一口氣，他勉強向前走去。眾人用看戲的目光看著烈赤，他強迫自己忽略眼前的人，努力讓自己面無表情。
</p>
<p>
  「為了搶奪製箭師的位置，阿古拉父子偷襲了烏能根，烏能根以一檔二奮勇抵抗，雖然反敗為勝，卻也失血過多死去，無力追趕逃走的罪人之子。」岱欽喊道。「但長生天是公正的，罪人之子跌下山壁昏死，被札納逮住。為了還烏能根一個公道，理應立刻處死，但罪人之子聲稱自己無罪。在巴特爾的見證下，罪人之子可以用力量向長生天請訴，讓長生天裁示他是否有罪。」
</p>
<p>
  眾人議論紛紛，其中更不乏笑聲，來自其他部族的人則打量烈赤準備看好戲。用決鬥來證明清白的舉動並不罕見，但體型相差如此巨大，且其中一方還遍體鱗傷的狀況就沒人見過了，大家都知道，這跟處死沒兩樣。烈赤被推上摔跤場，札納將努桑哈賜予的刀交給長者，裸著上身揮舞雙臂，雙眼緊盯眼前的獵物。烈赤慢慢地將滿是補釘的皮外套和上衣脫去，上衣落地時，不少人發出驚呼聲。烈赤身上的瘀傷被寒冷的空氣凍成大片大片的紫黑色，幾乎看不到正常的皮膚。又有人開始大笑，但烈赤絲毫不放在心上，他伸手撫摸褲子裡的小刀，雙眼緊盯札納不放。
</p>
<p>「贏了赦免，輸了就地處死。」努桑哈不耐煩地揮手。</p>
<p>
  長者發號，烈赤走向前與札納握手。劇痛自烈赤被捏扁的手掌上傳來，札納狠狠出力，得意地端詳烈赤。好不容易掙脫後，烈赤的手不由自主地抖著，但他的表情始終保持如一。長者看了看兩位，才剛要發令，札納已衝向烈赤，雙手伸向烈赤的肩膀，想將他撲倒。但烈赤滾向一旁，躲過札納的雙手，卻也讓自己門戶大開。札納轉身一腳踢過去，烈赤閃避不及，弓起身體護住腹部。札納因而踢中烈赤的大退，疼痛卻不致命，烈赤想站起來，但緊接而來的是一連串的猛踹，烈赤只能拼命護住腹部，不斷承受札納的重擊。烈赤往上看，背對太陽的札納只是一團黑影，陽光極為刺眼，不時透過札納刺痛烈赤的眼睛，他想伸手遮住眼睛，卻絲毫沒有辦法。札納一次又一次的重擊，成為烈赤是死亡的倒數。
</p>
<p>
  突然攻擊結束了，烈赤睜開眼睛，發現札納伸手抓過來，他咬牙向上踹出一腳，似乎踢中了什麼東西。烈赤想看清楚，但四周盡是飄揚的塵土。札納雙手抱臉退開一步，顯然烈赤那一腿踢中他的鼻子。少了札納的影子，烈赤全身沐浴在陽光之下，他雙手靠在地上，卻再也沒有力氣將自己撐起。札納怒吼大步跨來，臉上滿是鼻血，他彎腰使勁抓住烈赤的肩膀，硬生生地將他從地上抓起，一記頭錘撞向烈赤的臉，他被撞的頭暈腦脹，無力地向後仰去。時間彷彿凍結了，每一個心跳都變得好長，札納身後的太陽似乎沒這麼刺眼了。這是烈赤第一次直視太陽，完美的純白光體高掛在藍天之上，比任何事物都高，不斷射出帶來生命的虹芒箭矢。烈赤下意識地想閉上眼睛，但卻迷戀地看著太陽不願閉上。他感覺的到雙眼被灼燒的痛苦，但比起太陽帶來的澎湃生命力，這點痛苦不算什麼。純白無瑕的光芒之中，卻不知怎地出現了一個黑點。烈赤皺眉，焦急地伸手揮向天空，渴望將黑點去除。札納以為烈赤想要反擊，又是一記頭錘撞向烈赤。這下讓烈赤回到現實，他左手胡亂揮出一拳，打中札納的臉，右手摸索褲子裡的小刀，大吼一聲就要拔刀。但札納不給烈赤機會，他用雙手掐住烈赤的脖子，直接將他從平地拔起。
</p>
<p>
  烈赤拼命用力呼吸，卻是白費力氣。他感受到鼻腔裡的血倒灌進肺裡，身體不自覺地痙攣想將血咳出，但肺裡卻沒有任何空氣。他仰頭看向天空，陽光依舊刺眼，但剛剛看到的那個黑點卻漸漸橫劃過太陽，烈赤用盡最後的力氣瞇眼，希望能看得更清楚一點。黑點的兩側似乎在拍動著，在天空之上，太陽之下，那只能是鷹……。
</p>
<p>
  烈赤笑了，札納瞪大雙眼，無法相信烈赤還能笑出來。但札納注意力立刻被搶走了。人們的尖叫聲從四面八發傳來，馬群不斷嘶鳴，朝四方奔竄。隨著那隻無名的鷹飛過，太陽竟也跟著蒙上一層黑影，黑暗漸漸覆蓋遠方的草原，朝勃拔喀部的營盤襲來。一匹受驚的馬噴出唾沫，朝札納與烈赤衝來。札納鬆手向後退開，任由烈赤摔倒在地，他貪婪地吸入空氣。他勉強抬頭，發現太陽彷彿被什麼東西覆蓋住似的，只剩一道殘存的光圈。四周頓時陷入一片黑暗，伸手不見五指。札納大吼，揮著手四處亂抓。烈赤趁機滾開，穩住氣後他跪在地上閉上雙眼。聲音從四面八方傳來，形成混亂的噪音，但烈赤分辨得出有幾匹馬在奔竄，有多少人忙著躲進氈帳裡，噪音竟在烈赤腦海中形成一道道畫面。他可以清楚聽見岱欽大聲下令，拔刀保護大汗和巴特爾，也聽見一種奇怪的耳語從四面八方傳來，但烈赤聽不懂那是什麼語言。附近傳來粗重的喘氣聲，不時伴隨狂怒的吼聲，他知道那是札納。
</p>
<p>「野豬，這裡！」烈赤虛弱地喊道。</p>
<p>札納立刻轉頭，但黑暗之中他什麼也看不到。</p>
<p>「黑耳獺，死吧。」札納大吼，朝著烈赤奔來。</p>
<p>
  烈赤依舊閉著眼睛，聽著札納沉重的腳步聲不斷靠近，他壓低身體，算計著札納的身高。接著揮出拳頭，朝黑暗中用力擊去。札納的鼻子再次被烈赤擊中，力道不大卻驚人地疼痛，令札納幾乎無法思考，只能盲目向前亂抓卻徒勞無功。接著他又被擊中一次、然後再一次。最後，隨著札納沉重的身軀倒向地面，烈赤也終於不支倒地。他躺在地上觀察天空中妖異的光環，他幾乎不能相信那就是太陽，但他確實親眼看見光芒被逐漸侵蝕殆盡。烈赤聽的道岱欽還在大聲下令，要眾人安靜下來，而黑暗中依舊傳來陌生的細微耳語。難道這就是長生天的聲音？烈赤心想。
</p>
<p>
  他閉上雙眼，嘗試聆聽，但這不是他能理解的語言。他勉強坐起，正想靠得更近的時候，耳語無預警地消失了。同時烈赤發現天空的光環被破壞了，光環左側突然閃出耀眼光芒，驅逐了黑暗。漸漸地烈赤可以看見四周了，人們目不轉睛地看著太陽再次出現，有些人開始歡呼，但更多人臉上滿是憂慮。岱欽與宿衛隊持刀站在努桑哈與巴特爾身邊，警戒地觀察四周。確認沒有敵人後，岱欽才下令讓人去將驚嚇的馬兒帶回，並要眾人安靜。
</p>
<p>「長生天庇佑，陽光再次閃耀在草原上。就算塔陽不在，異相也無法嚇阻勃拔喀部，那達慕終將繼續。」努桑哈環視眾人，最後他目光停留在札納和烈赤身上。</p>
<p>札納面朝地倒在地上，臉上滿是鮮血。而烈赤就坐在旁邊，毫無懼色地迎接努桑哈的目光。跑了老遠的長者快步走向札納，他搖了搖札納，卻得不到任何反應。長者朝努桑哈和岱欽搖了搖頭，岱欽不發一語，臉色相當難看。</p>
<p>「札納無法再戰，勝者烈赤。」長者將烈赤扶起，高舉烈赤的手。</p>
<p>「長生天已裁定勝者無罪，任何罪行就此赦免。」努桑哈甩甩手，蹣跚離去。</p>
<p>
  四周安靜地出奇，沒有噓聲，也沒有歡呼。烈赤放眼望去，所有人互相咬著耳朵，狐疑地瞄著烈赤，彷彿他是某種怪物。眾人的猜疑幾乎要淹沒烈赤，甚至比被札納痛毆還要難受。要不是長者還扶著他，他肯定會倒地昏去。他轉頭避開眾人的視線，卻看見巴特爾用手遮住陽光，還在觀察天空，彷彿仍被異相震懾住似的。岱欽指揮兩名族人將札納抬走，一轉頭便與烈赤對上了眼。烈赤心跳莫名其妙地加快，他知道那是看向獵物的眼神，也知道如果躲避視線，下場就是被獵殺，因此他迎向岱欽的瞪視，哪怕心幾乎快從嘴裡跳了出來。巴特爾突然轉頭大步朝烈赤走去，彷彿不曾發生過異相似的，他輕拍烈赤的肩膀，打斷了烈赤與岱欽的無聲對峙。
</p>
<p>「我依舊會用你父親的箭。」巴特爾微笑，轉頭看向岱欽。「岱欽，將烈赤扶下去，派人療傷，他現在是清白的勃拔喀部人。」</p>
<p>「是。」岱欽對旁邊的宿衛使了眼色，那名宿衛立刻朝烈赤走去。</p>
<p>「岱欽，我是說你。其他人去我可不放心。」</p>
<p>
  岱欽瞄了一眼巴特爾，沉默地朝烈赤走去。長者識相地避開，失去支撐的烈赤險些倒下，但岱欽用精壯的手撐住烈赤。烈赤無力獨自前行，雖不願意但也只能讓岱欽扶著，他近乎霸道地拖著烈赤離去，但他施力巧妙，烈赤腹部的裂骨竟無劇烈疼痛。烈赤從未如此靠近岱欽。這位宿衛隊長向來寡言少語，似乎與任何人都處不來，就連宿衛隊對他也是尊敬大於情誼。岱欽武藝相當高超，多年的宿衛隊長生涯沒少過挑戰者，而他活到了現在，四肢完好無缺，揮出的刀依舊致命。他沒有娶妻，沒有兒子，每天活著的目的似乎就是成為勃拔喀部的利劍，還有找阿古拉的麻煩。打從烈赤有記憶以來，岱欽便不斷刻意找父親的麻煩，但父親靠做得一手好弓好箭，掙得了氈帳、肉與馬奶。但岱欽仍舊想將父親送進劫掠前鋒隊，巴不得阿古拉死了的好，每個戰俘都知道。
</p>
<p>
  烈赤觀察岱欽的臉，思考他會不會就是夜裡看到的黑影，因為岱欽幾乎與那黑影一樣高大。但為什麼被金雕撲倒後的身形變如此巨大？烈赤始終想不通。疲倦感重重襲來，他幾乎快昏了過去，就在這時他看到岱欽晃動的皮帽下有著幾道傷口。烈赤幾乎沒有思考，伸手將岱欽的皮帽抓下，三道不淺的傷口劃過岱欽的耳朵附近，邊緣甚至有點翻捲了起來。見過金雕巨爪的烈赤明白，只有這種巨大猛禽才傷得了岱欽。烈赤還沒回過神來就下意識地拔出小刀刺向岱欽。但岱欽輕鬆隔開烈赤的攻擊，沒了支撐的烈赤朝地上倒去。烈赤不顧腹部裂骨的劇痛，想再撲向前去，卻被兩旁的宿衛牢牢制住。岱欽撿起地上的皮帽，隨手戴上。
</p>
<p>「鷹族今天滅了。」岱欽冷笑。</p>
<p>宿衛踢向烈赤，逼得烈赤跪了下來，但烈赤目光不曾離開岱欽。</p>
<p>「你以前偷襲鷹族，敗給了我父親，是吧？」</p>
<p>岱欽雙眼猛睜，五官扭在一起。他舉起右手，一旁的宿衛見狀立刻拔刀，架在烈赤的脖子上。</p>
<p>「哼，我想也是。」烈赤冷笑。「回答我，是塔陽下令要你圍剿鷹族？」</p>
<p>岱欽不發一語，手驀然落下，宿衛的刀子也揮了出去。</p>
<p>「岱欽！回答……」烈赤還未吼完就驚覺一股壓迫感自背後襲來，竟無法再吐出一字半句。</p>
<p>鏗！一支箭矢破空而來，竟射穿了持刀宿衛的手掌，硬生生將刀擊開。宿衛慘叫，但眾人顧不得他，忙著看是誰射的箭。巴特爾持弓站在七十步的距離外，冷眼看著這齣鬧劇，手上的弓弦仍在震動，發出沉鳴聲。</p>
<p>「請大汗過來。」巴特爾對附近的人下令，然後朝岱欽走去。</p>
<p>烈赤猛喘氣，但他現在顧不了這麼多，才要再問，卻發現岱欽緊盯走來的巴特爾不放，滿臉懷疑的神色。</p>
<p>「岱欽，長生天已證明烈赤清白，為何還要動刑？」巴特爾問道。</p>
<p>「他意圖刺殺我，我只是執行部族就地處死的規定。」</p>
<p>「好不容易證明清白，又立刻找死，說不通吧？」</p>
<p>「這是他拔的刀。」岱欽踢了踢地上的小刀。</p>
<p>「交由大汗決定吧，今天若有人死去，恐怕是凶兆。」</p>
<p>岱欽點頭沒有回應，巴特爾對著烈赤微笑，但烈赤笑不出來，狠狠地瞪向岱欽。</p>
<p>「回答我！」烈赤喊道。</p>
<p>岱欽翻了白眼，似乎不堪其擾，巴特爾則是疑惑地看著兩人。</p>
<p>「塔陽下的令，但那是來自天上的旨意。」岱欽瞄了一眼巴特爾，低聲答道。</p>
<p>彷彿有一記落雷擊中了烈赤，他根本無法將塔陽與滅族仇人連結在一起。父親知道嗎？他感到體內血液猛然翻湧，頭一暈昏了過去。</p>
<p>「扶好他。」巴特爾朝一旁的宿衛說道。</p>
<p>「我未來的大汗，一箭就將刀擊開，你的技巧又更加熟練了。」</p>
<p>「若我慢了，不就又有血要撒在草原上？弄不好是是凶兆，那達慕是要頌揚塔陽，不是鬧劇。」</p>
<p>「我的人中箭也流不少血，這不是凶兆？」岱欽冷眼看著巴特爾。「還是我未來的大汗射偏了？」</p>
<p>巴特爾笑而不語。這時一名族人奔來，跑到巴特爾身邊耳語。</p>
<p>「今天大汗不允許有人死去，若烈赤真的有罪，就放逐他吧。」</p>
<p>「是。」岱欽冷冷答道。</p>
<p><br></p>
<p>烈赤感到有東西靠在他身邊，他猛然睜眼，竟看到大老黃忙著用頭磨蹭他的臉。太陽已經快要落下了，盧刺卡在蹲在一旁，手忙腳亂地整理地上攤開的布囊，上面擺著一堆東西。</p>
<p>「我還沒死吧？」烈赤虛弱問道。</p>
<p>「沒死，但快啦。」</p>
<p>「管他岱欽還誰，都來吧。」</p>
<p>「沒有誰會動手，但你還是快死啦。」盧刺卡終於收拾好布囊。</p>
<p>「什麼意思？」</p>
<p>「你被放逐啦。」</p>
<p>「放逐？」</p>
<p>「大汗不想在那達慕上殺人，再來，長生天證明你是清白的，沒人可以動你。」</p>
<p>烈赤低頭看了看傷勢，他知道冬天被放逐跟處死沒兩樣。</p>
<p>「誰知道呢？你不也擊敗了札納？」盧刺卡罕見地沒有酒氣。</p>
<p>「沒有異相，我贏得了嗎？」烈赤苦笑。</p>
<p>「不知道，我只知道真正的戰士在任何情況下都能繼續戰鬥。」盧刺卡微笑。「就像阿古拉。」</p>
<p>「要不是我父親訓練過我……」烈赤握緊拳頭。「是岱欽殺了我父親。我親眼看見他的頭有金雕的爪痕，就是他。」</p>
<p>「你確定？」盧刺卡張大了嘴。</p>
<p>「普通的鳥能抓傷岱欽嗎？」</p>
<p>遠方傳來人們的歡呼聲，打斷了兩人的對話，也為漸暗的草原添加了一股生氣，但烈赤只覺得無比荒涼。</p>
<p>「今年那達慕就剩射箭了。」盧刺卡看向營盤。</p>
<p>「肯定是巴特爾勝了吧？」</p>
<p>「嘿，拜託他贏。贏了大汗心情好，或許多賜點馬奶酒呢。」</p>
<p>「老頭子，你再喝下去，恐怕我回來的時候，遇不到你了。」</p>
<p>「小子，輪不到你說話。」盧刺卡翻了翻白眼，但又領悟了什麼似的。「小子，聽我的，別想著要回來。出去了，就再也不要回來了。」</p>
<p>烈赤沒有說話。</p>
<p>「不管是不是岱欽動的手……」</p>
<p>「就是他。」</p>
<p>「小子，阿古拉不會希望你替他報仇的。」</p>
<p>「我要替鷹族報仇，塔陽已經死了，岱欽也得死。」</p>
<p>「唉，我真不該……」</p>
<p>「岱欽說塔陽下的令是天上的旨意，你能信嗎？」烈赤笑了出來，眼中卻是藏不住的怒火。</p>
<p>「小子，那時候塔陽還不是薩滿，他還拿著刀子。」</p>
<p>烈赤收起了笑容，仔細聆聽。</p>
<p>「那時候塔陽聽到的聲音，不一定是長生天的。」盧刺卡警覺地看了看四周。「我問過上一任的薩滿，那恐怕是蟒古斯的聲音。」</p>
<p>「蟒……？」</p>
<p>「聽說戰士們都聽過，但誰知道？我就沒聽過。」</p>
<p>「聽過什麼？」</p>
<p>「蟒古斯的聲音。聽說那種聲音，就藏在敵人的慘叫聲裡，血液流淌的聲音裡，獵物死前的呼吸聲裡。」</p>
<p>「什麼是蟒古斯？」</p>
<p>「沒有人知……」</p>
<p>「你可以滾開我的營盤了。」岱欽從氈帳後面走了出來。</p>
<p>「嘿，馬上好。」盧刺卡將地上的布囊撿起。</p>
<p>「小子，東西拿好就走吧。以後見面就不再是同族人了。」</p>
<p>盧刺卡將布囊遞給烈赤，但岱欽一把搶過布囊，粗魯地將袋口打開，將裡面裝好的乾酪、牛油丟到地上。</p>
<p>「岱欽，這……」盧刺卡慌張地不知該如何是好。</p>
<p>「閉嘴。」岱欽冷笑。「既然都打贏了札納，肯定也能自己獵到食物。行囊輕一點，才可以馬上離開這裡，對吧？」</p>
<p>「岱欽，草原比天空小的多，有一天會再見面的。」烈赤冷冷說道。</p>
<p>岱欽不說話，從地上抓起一把又一把的羊糞，塞進布囊裡，綁好丟給烈赤。</p>
<p>「滾吧。再讓我看到你，我就只是砍死一名敵人而已。」</p>
<p>烈赤撿起布囊朝大老黃走去，將布囊掛在馬鞍上。盧刺卡想過去要幫他上馬，卻被岱欽的手制住，烈赤冷笑，一腳踩在馬鐙上，猛一使力將自己翻上了大老黃。腹部斷骨的劇痛立刻傳來，他似乎咬斷了牙根才沒讓自己發出任何聲音。</p>
<p>「帶著你可笑的刀子滾吧。」岱欽走向前，從背後拿出一把形狀怪異的刀子，丟給烈赤後轉身就走。烈赤接住，怪異的看著岱欽，再低頭看看那把刀子，那是父親做給他練習揮刀的削弓刀。 </p>
<p>「小子，來。」盧刺卡蹲到一旁，從一堆雜物後拾起一包東西。「牠不屬於這裡，不論你要去哪，帶牠走吧。」</p>
<p>烈赤顫抖地伸手接過，那包東西上還有不少乾褐色的血跡。他猜得出那是金雕的屍體，重量遠比他想的還要有份量。盧刺卡又從一旁拾起一袋東西遞給烈赤，烈赤一聞就知道那是馬奶酒。</p>
<p>「你的斷骨會痛上好一陣子，如果真的痛到受不了就喝上個幾口吧。」</p>
<p>歡呼聲再次從部族中傳來。</p>
<p>「看來射箭是比完了。」盧刺卡往人群看去。</p>
<p>「盧刺卡，你永遠能享用我的鹽、肉與酒，如果還能再見的話。」</p>
<p>「唉喔，怪了怪了，竟然不是巴特爾贏。」盧刺卡睜大雙眼，看向遠方人群。</p>
<p>烈赤微笑，夾了夾馬肚慢慢離去。</p>
<p>「最好別再見了。」盧刺卡的眼角閃爍光芒。</p>
<p>「你說過了，天空很大，草原很小。」烈赤沒有回頭。</p>
<p>
  盧刺卡看著烈赤的背影，心中滿是說不出的心酸。他頹然坐到了地上，不知何時又從一旁摸出了一袋馬奶酒，狠狠灌了一口。看著漸漸暗下的天空，慢慢隱入黑暗的烈赤，盧刺卡輕輕嘆了口氣。突然他想到什麼似的，自責地拍了自己的額頭，抓起酒袋往地上倒去，不多不少恰是一名戰士一口的份量。
</p>
<p><br></p>
<p>
  繁星已移動三個掌距，烈赤仍再黑暗中前進。他喝了不少馬奶酒，否則大老黃每走一步，就是一次煎熬。夜半的溫度極低，烈赤呼出的氣在大老黃的馬鬃上結成了霜，他將皮襖裹得更緊，努力不讓自己摔下大老黃。他與大老黃都需要休息，但遠方的狼嚎聲令烈赤不敢停下。至少要到赭嶺上，父親說過狼不會輕易到高處狩獵。
</p>
<p>
  四周的草越變越稀疏，烈赤知道赭嶺就快到了。他希望父親的屍體不要被任何動物盯上，一想到父親孤身一人在赭嶺上，烈赤眼眶就濕潤了起來。眼淚若不抹掉便會在臉上凍起來，他趕緊伸手擦去。總不能流著淚去見父親吧？烈赤心想。但眼淚卻不聽話地流了更多出來。
</p>
<p>
  繁星又移動了一個掌距，烈赤慢慢下了馬，但地上的碎石差點令他跌倒。站穩後，他將金雕屍體與布囊綁在身上，拍拍大老黃的脖子，再喝光所有馬奶酒，開始往峭壁上爬去。在馬奶酒的影響下，烈赤感受不太到疼痛，只覺得昏昏沉沉的，但肌肉的痠疼似乎被放大了，四肢不斷發抖，但他仍咬牙向上爬去。不知過了多久，烈赤的手終於碰到峭壁的頂端，但他卻立刻抽手，彷彿碰到了滾燙的木炭似的。他驚恐地看著上方的黑暗，再也沒有勇氣往上爬去。烈赤閉上眼睛，不知何時風停了，四周變的好安靜，唯一的聲音是自己呼吸聲，但漸漸地，就連呼吸聲也消失了。現在烈赤什麼都聽不到，四周安靜的可怕，彷彿什麼都不存在。但某種規律的鼓動未曾停歇，微弱卻頑強。烈赤伸手壓在胸膛上，像是在確認什麼似的。我還活著，烈赤心想。他猛然伸出右手抓住峭壁頂端，碰的一聲，彷彿敲響了戰鼓。
</p>
<p>「我還活著！」烈赤大吼，伸出左手，接著烈赤就發現自己站上了峭壁。</p>
<p>
  就在那裡，黑暗中，隱隱約約的，烈赤知道那是父親。他以為自己會哭，卻等不到任何眼淚。烈赤發現自己無法向前走去，他貪婪地回想著札納與岱欽的拳頭，還有勃拔喀部人的目光，期待怒火能將心理的痛苦焚燒殆盡。但痛苦卻像四周的黑暗般，無聲無息地吞沒了他。風又開始吹了起來，聽說只要用心聽，就能聽見風聲裡的訊息。可能是祖先說過的話，可能是愛人的思念，也可能是長生天的旨意。父親也在風裡說話嗎？烈赤心想。終於，眼淚掉了下來，烈赤也跨出了蹣跚的第一步。
</p>
<p>
  父親的眼睛安詳地閉著，除了沒有血色外，就跟睡著沒兩樣。彷彿等等他就會睜開眼睛，要自己趕快把眼淚擦掉去練揮刀。烈赤搖頭，把淚擦乾，他放下布囊，把金雕的屍體輕輕放在父親旁邊，他注意到父親身上有不少金雕的羽毛，沾滿了父親的血，他小心地將羽毛拾起放在金雕屍體旁。烈赤坐下來，看著黑暗發呆，一切都好不真實，父親死去了，自己被放逐了。手邊沒有弓，什麼也獵不了，除了等死，什麼也做不了。他抬頭看看四周，思考塔陽的天葬台在哪邊，至少自己死前能讓父親回到天上。他看了看金雕的屍體，突然倍感親切。
</p>
<p>「你也算是跟我父親並肩作戰。」烈赤喃喃說道。「你爸媽會是鷹族的嗎？聽說以前鷹族都跟你們一起戰鬥。」</p>
<p>烈赤撿起一根金雕的羽毛，上面沾滿父親的血。他撫摸著羽毛的邊緣，幾乎感受到一種鋒利的觸感。</p>
<p>「隔了這麼久，你們怎麼又會出現……」</p>
<p>
  烈赤突然想起，自己摔落的峭壁那還有另一隻金雕的屍體。他朝記憶中的位置走去，仔細觀察峭壁下方，在黑暗中果然有個模糊的輪廓。他慢慢向下爬去，身體非常疼痛，但疼痛能讓他保持清醒。不久，烈赤便搆得到金雕了，接著他慢慢將金雕拉近自己。雖然金雕體積相當巨大，但不算太重，最後烈赤將金雕用布囊包好，綁在自己身上。突然，風中傳來細微的啾啾聲，烈赤停下動作，豎耳聆聽。不久，他再次聽到了聲音，他看著聲音傳來的方向，卻是一片黑暗。他看了看四周，決定往那爬去。這片峭壁雖然相當陡峭，但有為數不少的平台與凹陷處，雖不好攀爬，卻也方便著力。聲音不時就會傳來，烈赤得以在黑暗中找到方向。他開始聞到某種腐臭味，啾聲也越發頻繁。最後峭壁上出現了約兩人環抱的大巢。他慢慢靠近，黑暗中有兩團毛茸茸的小金雕依偎在一起，一隻勉力掙扎著，另一隻卻動也不動。
</p>
<p>「很冷吧？」烈赤喃喃自語。</p>
<p>
  他小心翼翼地將兩隻小金雕捧起，塞進胸口裡放好，然後不斷朝皮襖裡呼出熱氣。他忍受腐臭稍作休息，注意到鷹巢滿是凍硬的樹枝，他摸了摸，將粗細適當的樹枝拔起，插進背後的布囊然後往上爬去。回到父親身旁時，馬奶酒的效果已幾乎退去，寒冷與痛楚排山倒海似地襲來，他發著抖將金雕的屍體放在一起，然後將皮襖裹得更緊，小金雕在他懷裡不斷掙扎。烈赤把盧刺卡給他的布囊打開，一股羊騷味撲鼻而來，他嫌棄地將岱欽丟進去的大把羊糞倒掉，然後摸出燧石放到一旁。他坐下來將細木枝疊成一堆，然後隨手抽起一根用削弓刀刮出木屑。木柴被凍得相當堅硬，烈赤刮得相當吃力，好不容易蒐集到足夠的木屑，他將木屑塞到木柴堆下方，拿起燧石與削弓刀互擦。火星在黑暗中四處奔竄，兩三下木屑立刻燒了起來。烈赤懷中的小金雕似乎看到了火光，啾啾叫了兩聲。
</p>
<p>
  易燃的木屑立刻就燒盡了，但被凍住的木柴卻只是冒出幾縷灰煙。烈赤煩躁地繼續刮著木屑，但抖動的雙手卻再也握不住木柴，最後他大吼一聲，將木柴甩到一旁，羊糞堆被撞得散了開去，騷味也變的更重了。烈赤懊惱地喘氣，然後像是領悟到什麼，他將羊糞捏碎塞到木柴堆下，然後拿出燧石點火。乾燥蓬鬆的羊糞立刻燒了起來，他趕緊將最後的羊糞通通捧起來丟進了火堆裡，連布囊裡僅存的碎屑也倒了進去。木柴一下子燒了起來，劈劈啪啪的跳著火星。烈赤鬆了口氣，將小金雕從懷裡捧了出來。小金雕眼睛還是閉上的，但依舊好奇地伸長脖子，感受火焰帶來的溫暖。烈赤透過火光看著父親，他的臉似乎很安詳，在火光的照耀下，幾乎與睡著了沒有兩樣。然後他目光移到了父親胸口上的箭矢，眉頭隨皺了起來，他將小金雕塞進胸口裡，挪動身體靠近父親。
</p>
<p>
  箭矢無情地沒入父親的胸口，箭尾不知被誰斬斷了。他想將這可恨的凶器拔起，但傷口已被凍的堅硬無比，他拼命使力但箭矢仍紋風不動。最後烈赤頹然坐下，伸手輕碰父親早已失去生氣的手，很冷，凍得烈赤好痛但他不願移開手。過去無數的夜裡，他都是這樣碰著父親的手，數著父親的鼾聲睡著的，但一樣的夜空之下，烈赤什麼都沒有了。胸口的小金雕再次發出啾啾聲，彷彿在安慰烈赤，他將小金雕捧了出來，伸出手指逗弄。
</p>
<p>「你跟我都有同一個殺父仇人，有一天我也會幫你報仇的。」烈赤喃喃自語。</p>
<p>
  小金雕似乎聽的懂，又叫了一聲。烈赤微笑，火堆讓烈赤感到相當溫暖，他躺下來，盯著躲在厚厚雲層裡的月亮，思考天葬台在哪個方向。他打算帶金雕與父親去天葬台，讓他們可以順利地回到天上。想著想著，烈赤眼皮越來越重了，他慢慢閉上眼睛，數著火堆的劈啪聲。突然懷裡的小金雕瑟縮了起來，同時上方莫名襲來一陣強風，火堆瞬間暗了下來。烈赤警覺地蹲起來，觀察上方，削弓刀已緊握在手。一個通體雪白的物體劃過烈赤的視線，自天空急速落下，就在要撞到地面時，那物體竟張開了一對雪白的翅膀，拍了兩三下後，近乎優雅地降落在火堆旁邊。
</p>
<p>
  烈赤定睛一看，發現那竟然是塔陽的海青。那海青靜靜地收起翅膀，雙眼緊盯烈赤不放，血紅色的眼珠在火焰旁閃耀異樣的光芒。烈赤一想起塔陽便十分厭惡，朝海青揮手大吼，但海青只是盯著他，動也不動，彷彿成了雕像似的。烈赤嫌惡地看了看海青，懶得再理，就地躺了下來準備入眠。他閉上雙眼，卻覺得渾身不對勁，他睜眼偷看，發現海青仍舊盯著自己。他嘆了口氣閉上眼睛，輕輕撫摸胸口的小金雕，慢慢地睡去了。
</p>
<p>
  烈赤醒來時，已經是白天了。天空仍舊灰雲滿布，就太陽的位置來看，烈赤知道已經快中午了。胸口的小金雕輕輕蠕動，不時發出啾聲，火堆早已熄滅，但仍舊飄著細細灰煙，而白色的海青依舊在另一端盯著烈赤。他揮了揮手，試圖趕走眼前惱人的生物，但海青絲毫不受影響。他拾起一顆石頭想丟過去，卻發現牠嘴上叼著一個黑色的東西。仔細一看，驚覺那是父親長年帶在身邊的扳指。敢從我父親身上偷東西？烈赤一股無名火燒起，他怕驚動了海青，所以坐著用手與臀部慢慢移動身體，往海青靠去，剩一步的距離後，烈赤假裝撥弄火堆，然後無預警地抓向海青，但海青從容地一跳，瞬間騰空而去。
</p>
<p>「還來！」烈赤揮舞雙手。</p>
<p>
  烈赤追了幾步便放棄，海青早已迅速遠去，不可能追的到了。他頹然望向父親，只覺得自己比什麼都沒有用，連隻鳥都可以欺負自己。烈赤走到父親的遺體旁跪了下來仔細觀察。父親臉上沒有絲毫血色，但卻無比安詳，彷彿死前沒有任何痛苦似的。太陽已照耀了好一段時間，他握住斷箭，一手壓住父親胸口，用力將箭頭拔起，然後恨恨地甩向一旁。他將父親衣服整理好，接著把金雕的遺體用布包住。小金雕似乎知道那是自己的雙親，努力發出叫聲，卻得不到任何回應。烈赤背對自己的影子向遠方望去，他知道父親與金雕的歸宿都在天上，他發誓死前一定要將他們送上天葬台。雖然他從未去過，但他知道天葬台就在離天空最近的不罕兒山上，離勃拔喀部只有幾天的距離。烈赤瞇眼觀察，勉強能看見山的輪廓。他將削弓刀插在腰上，隨手把燧石丟進了布囊，綁在自己身上，然後將金雕的屍體輕輕捧起，往峭壁走去。他往下看，發現大老黃還在下面悠哉地吃草，烈赤大喊，大老黃也嘶鳴了一聲回應。烈赤感到溫暖，加快腳步走向父親，正想將父親的遺體扛起，白色的海青又從天而降，他厭煩地望去，發現白海青嘴上依舊叼著父親的扳指。
</p>
<p>「還來！」烈赤大步跨去。</p>
<p>這次海青竟沒有閃躲，只是冷眼盯住烈赤。牠腳邊有東西閃爍細微的光芒，吸引了烈赤注意。他發現是那支他甩開的箭矢，箭簇上的血跡早已呈現深色，他撿起箭矢仔細觀察箭頭，眉頭深深皺了起來。</p>
<p>草原人在劫掠時，常用箭矢來代表所有權，如果自己的箭先射在了帳門上，自己就擁有了那氈帳內所有財物。因此每個人的箭上面總會自己的標誌。但這支箭上卻什麼標誌也沒有。而父親製作的箭就不被允許有任何標誌，分配到箭的人會自行刻上。</p>
<p>
  如果有箭羽就好了，烈赤心想。父親的箭羽修剪與固定法相當特別，呈現三錐狀，甚至還能為左弓手做出向左飛旋的箭矢。若箭羽還在，烈赤就能判斷這支箭是否是父親所做。偏偏箭羽卻被砍斷取走了，單從箭簇的磨製花紋來看，這種水準在這附近，也幾乎可以確定是勃拔喀部的人射出的箭。
</p>
<p>
  烈赤冷笑，將箭頭用布裹好，塞進了布囊中。一旁的白海青突然身體一低向前飛去，最後消失在峭壁之下。看著白海青消失，烈赤感到疑惑，但他立刻將之拋在腦後。他走向父親的遺體，想將父親扛起，但腹部的疼痛逼他不得不放棄。他看了看太陽，最後閉上眼睛。父親，對不起，烈赤心痛地想。然後拉住父親的衣服，將父親的遺體往懸崖邊拖去，地上的碎石讓搬運過程沒有想像中費力。石壁在日光的照耀下，沒有想像中的深，但仍有不少的距離。烈赤知道自己沒有辦法背父親爬下峭壁，因此他揹起金雕的屍體，拖著父親沿石壁走。石壁在稍遠的地方漸漸變淺，或許到了那邊，烈赤就可以背著父親下去。
</p>
<p>
  不知道過了多久，西邊的雲早已呈現橘紅色了。烈赤往下看去，發現大老黃也跟了過來。石壁變得相當淺，若是沒有受傷，烈赤可能兩三下可以跳下去。他坐下來休息，看著遠方的雲，許久，他拔刀將父親的衣物切成長條狀，用來將父親的遺體綁在自己身上。最後他站了起來，腹部斷骨傳來劇痛，但他死命忍住。等他將父親揹起來時，他心痛地發現身材高大的父親竟沒有相襯的重量。他往下爬去，動作十分緩慢。父親的重量壓在身上，不時帶來劇痛，但烈赤仔細感受著，因為那是父親存在的證明。好不容易爬下石壁後，天已幾乎全暗了，他將父親安穩地放好，然後像斷線風箏一樣倒在地上喘氣。四周越來越冷，烈赤卻連將皮襖裹緊的力氣也沒有。他只覺得眼皮越來越重，這時胸口傳來的蠕動驚醒了烈赤，他知道自己該生火了，但四肢被凍得麻木，動彈不得。
</p>
<p>
  烈赤聽到背後傳來規律的噠噠聲，慢慢靠近他。最後聲音停下來，同時也吹來了一股熱氣，烈赤笑了。大老黃趴下來，身軀圍繞住烈赤，用頭輕輕碰著烈赤的身體。烈赤罕見地感受到了一絲安全感，漸漸睡去。朦朧之間，烈赤聽到許多聲音，有風聲，有大老黃的呼吸聲，還有胸裡的輕微鼓動聲。但還有另一個聲音，很輕，但存在著。久久才發出聲響，每次都向烈赤越來越近。他微微睜開眼睛，看到有個黑影潛伏在自己的布囊旁，慢慢地移動，同時他聞到了刺鼻的騷味。最後那黑影停在包著金雕屍體的布包邊，輕輕地發出嗅聞聲。烈赤緩緩伸手摸向丟在一旁的布囊，握住了裡面的斷箭。
</p>
<p>小金雕在烈赤胸口動了一下，發出了輕微的啾聲。那黑影瞬間轉頭瞪向烈赤，雙眼閃爍妖異的綠光。烈赤閉上眼睛，動也不動。許久，那黑影開始移動，緩緩靠近烈赤。刺鼻的騷味越來越重，那黑影伸長頭似乎在聞什麼，然後竟伸出細長的手靜悄悄地伸向烈赤胸口。
</p>
<p>「啊！」烈赤大吼一聲。</p>
<p>
  那黑影猛然一震，伏低身體就想竄開，但烈赤手上的箭早已插入黑影之中，黑影發出一聲淒厲的哀叫聲竄開，聽起來竟有幾分像人。大老黃被驚醒，立刻站起來打了幾個響鼻。烈赤一邊輕拍馬腿，一邊專注聆聽黑影的腳步聲，最後聲音消逝在風中，再也聽不到了。烈赤摸黑朝最後聲音傳來的方向走去，在稀疏的草叢中，烈赤找到了苟延殘喘的黑影。
</p>
<p>「狐狸，對不起了。」</p>
<p>
  一隻成年狐狸倒在地上，無力地看著前方，四足還在掙扎，似乎還想向前奔跑。烈赤拔出狐狸腹部的斷箭，令牠身軀猛然一抖，嘴巴張大卻發不出聲音，最後漸漸地不動了。烈赤嘆了口氣，將狐狸屍體舉高，將嘴湊近傷口，大口大口喝下狐狸的鮮血，聞起來就像沒有上油的銹刀一樣。雖然難聞，但大量溫熱的鮮血灌進腹部，烈赤可以感受到生命力在體內流竄，似乎連疼痛與寒冷都沒這麼難受了。烈赤帶著狐狸屍體回到大老黃旁，他沒有時間好好剝皮，胡亂割了狐肉，切成細條，然後將小金雕捧了出來。懷裡的小金雕自從聞到狐血後，就沒停止啾啾聲。烈赤將狐肉餵給小金雕，兩三下就被吞下肚。他一連割了數十條狐肉，小金雕竟也全數吞了下去。最後這隻雛鳥不再抬頭乞食，將頭靠在烈赤胸口睡去了。烈赤想生火煮狐肉來吃，附近卻沒有枯枝供他生火。溫熱的狐血仍在他身體中流竄，驅散了飢餓，安撫了疼痛與寒冷。烈赤看著懷裡的小金雕，靠在大老黃身上，漸漸地也睡去了，只有斷箭仍緊握在手。
</p>
<p><br></p>
<p>
  這夜平靜的出奇，烈赤沒有做任何夢。睜開眼睛的時候，太陽早已微微顯露，東邊的天空一片橘紅。他摸摸胸口卻發現空無一物。他緊張地掃視四周，發現小金雕像捕食到獵物般，站在狐狸的頭上，小小的雙爪緊緊扣住狐狸的皮膚。烈赤仔細一看，才發現小金雕竟已睜開雙眼，透過金色的眼眸，無懼地直視太陽。烈赤放任小金雕感受這個世界，起身檢查大老黃身上的繩結，然後將裝著金雕屍體的布囊綁在大老黃上。整理到一半，他發現小金雕已經離開狐狸的屍體，四處跳動，見到東西就咬。烈赤將狐狸屍體綁在鞍繩上，然後將小金雕輕輕捧起，但牠還咬一旁的苜蓿花芽不放，烈赤將那一叢苜蓿拔起，摘下花芽塞給小金雕，然後將苜蓿遞給大老黃，兩三下就給吞進肚去。烈赤環看四周，最後目光停留在父親身上，他忍痛將父親扛起，輕輕地放到馬背上。
</p>
<p>太陽已完全升起，幾乎無法目視。烈赤注意到有個白色的身影在空中盤旋，一看就知道是塔陽的白海青。小金雕似乎察覺到遠方的海青，突然從胸口探出頭來，目光炯炯有神，但沒多久就轉過頭去咬苜蓿花芽。</p>
<p>「這麼喜歡花的話，就叫你祈祈可吧。」（蒙古語的花）</p>
<p>小金雕轉頭看烈赤，似乎在疑惑什麼是名子。烈赤微笑，右膝輕輕一頂，大老黃立刻向前走去。不兒罕山在太陽下朦朧一片，但烈赤的目標清晰無比。 </p>
<p><br></p>
<p>
  今年是罕見的嚴寒，各部族都選擇顧好牲畜不出遠門，似乎就連在草原上到處交換物資的旅人也躲了起來。下了赭嶺後，寒冬更加惡劣了，不時飄雪，到處都是白茫茫一片。大老黃得刨個半天才吃的到凍硬的牧草，但嚴寒卻讓狐肉得以保存。烈赤腹部的裂骨越發嚴重，四周的瘀血幾乎是漆黑一片，甚至還腫了起來。大老黃每一步都讓烈赤痛不欲生，反觀祈祈可則精力旺盛地探索這個世界。一下子探出頭來想咬住飄雪，一下子盯住遠方盤旋的海青不放。那隻海青幾乎一路跟著烈赤，雖然厭惡但他只能當作沒看到。烈赤在馬背上前進，在馬背上睡眠，終於到了不兒罕山腰，眼前的路已經不是大老黃能走的了。
</p>
<p>「大老黃，就是這裡了。」烈赤用額頭抵住大老黃。「如果我回不來了，自己去找個母老黃吧？」</p>
<p>
  大老黃耳朵動了動，仔細聆聽。烈赤用雙手環抱大老黃的脖子，許久，他挺直身體，將裝著金雕遺體的布囊綁在自己身上，然後將父親早已凍僵的遺體搬下來。接著烈赤把自己的皮帽綁在馬鞍上，將祈祈可放了進去。烈赤拿出許多切好的狐肉餵祈祈可，但祈祈可沒有興趣，只是看著烈赤。烈赤沒有辦法，只好將狐肉放進皮帽裡。大老黃的體溫可以讓肉保持柔軟，也能讓祈祈可活下去。
</p>
<p>「祈祈可，我不能帶你去送死，如果我活著下山，我們就一起去報仇。」烈赤摸了摸祈祈可的頭，祈祈可則罕見地咬著他的手不放，似乎不要他走。烈赤笑了笑，輕輕抽開手向後看去。</p>
<p>
  不兒罕山高聳入雲，眼前是一條陡峭的碎石坡，他不知道天葬台在哪邊，但肯定在高處。他發現一片雪白之中，有顆血紅色眼珠盯著他，烈赤不用細看就知道是塔陽的白海青，他懶得理會，彎腰抓住父親的衣服，往上拉去。厚雪讓地面變的平滑，但也令烈赤難以前進。每一步都讓他的裂骨痛不欲生，但疼痛這個逐漸熟悉的老友讓他永保清醒。四周盡是一片雪白，天與地的界線消失了。若不是父親的重量，烈赤幾乎無法得知是否在往上爬去。他很累，但力量竟不斷湧出，彷彿身體知道這是最後一次受苦，拼命地在白雪中燃燒自己。不知何時陡坡已經近乎垂直了，石壁上的裂縫與凹洞盡數被白雪掩蓋，烈赤幾乎無法攀爬。他再次將父親的遺體綁在自己身上，風雪不斷侵蝕烈赤，但他不覺得寒冷。烈赤開始攀爬，他得用手撥開白雪才能找到落腳點。父親的重量令他感到踏實。那是父親活過的證據，而現在父親就快回到天上了。
</p>
<p>
  烈赤感到精力充沛，彷彿可以做到任何事一樣，但四肢卻劇烈地抖動。白色的海青站在上方看著烈赤掙扎，這次距離沒有很遠，烈赤甚至看到牠還叼著父親的烏黑扳指。烈赤這下爬得更快了，他想將扳指還給父親。父親從來沒說過那個扳指的來歷，但烈赤有記憶以來，那扳指不曾離開過父親。每當烈赤快靠近海青時，牠翅膀就會懶洋洋地一拍，瞬間又停在更高的石壁上，烈赤感到惱怒，拼命加快速度。好不容易追上白海青後，烈赤慢慢空出右手，猛然向上抓去，但海青一展翅，瞬間消失在白色之中。看著海青消失，烈赤頭一暈，身體似乎也斷了線，有一瞬間竟向後倒去。烈赤驚得趕緊伸手亂抓，好不容易穩住自己後，他才發現著手處竟是平地。他想爬上去，卻發現就連穩住自己都很吃力。烈赤知道自己支撐不了多久了，他往上看去，白靄靄的山還好高。
</p>
<p>「父親，對不起，我沒辦法送你回天上。」烈赤的聲音在風雪中消逝。</p>
<p>「阿古拉是戰士，在草原上戰鬥，在草原上成家，在草原上死去，死後的歸宿也只會是在草原上。」</p>
<p>
  烈赤大吃一驚，往上看去。塔陽居然站在懸崖的邊緣，身穿白袍，與雪乎融為一體。那隻雪白的海青就停在牠的肩膀上，而那烏黑扳指則落到了塔陽手上。塔陽慈祥地微笑，但雙眼卻相當堅毅。「將阿古拉放到大老黃背上吧，任由大老黃背著他奔馳最後一次。不論走得多長，到了多遠，落在了哪裡，那裡就是阿古拉的長眠永存之地。」
</p>
<p>烈赤看著塔陽，不知道為什麼，眼淚不斷流了出來，被風雪吹了出去，散落在白色的草原上。</p>
